# 파일 읽기

In [6]:
with open('abc/text.txt', 'w') as f:
    f.write('hallo')

In [7]:
f = open('abc/text.txt', 'r')
f.read()
f.close()

In [13]:
with open('abc/text.txt', 'w', encoding='utf-8') as f:
    f.write('안녕하세요')
    f.write('안녕안하세요')

In [44]:
# 텍스트 파일 읽기
with open('abc/text.txt', 'r',encoding='utf-8') as f:
    content = f.read()
    # f.write('hallo test') # UnsupportedOperation: not writable
    
print(content)
f.close()

안녕하세요안녕안하세요

In [ ]:
# 생성 
with open("abc/text1.txt", "w", encoding='utf-8') as f:
    f.write('아아~~~아아~~')

In [ ]:
# 읽기
with open("abc/text1.txt", "r", encoding="utf-8") as f:
    text1 = f.read()
    
print(text1)
f.close()

아아~~~아아~~으아~~으아~~이이~~

In [24]:
# 읽기/쓰기 모드
with open("abc/text1.txt", "r+", encoding="utf-8") as f:
    content = f.read()
    f.write("으아~~으아~~이이~~")

In [28]:
# 읽기
with open("abc/text1.txt", "r+", encoding="utf-8") as f:
    text1 = f.read()
    f.write('안녕하세유우~')
    
print(text1)
f.close()

아아~~~아아~~으아~~으아~~이이~~으아~~으아~~이이~~안녕하세유우~

In [ ]:
with open("abc/example.txt", "a", encoding="utf-8") as file:
    file.write("추가된 내용입니다.\n")

In [ ]:
with open("abc/example.txt", "w", encoding="utf-8") as file:
    file.write("반복문을 사용하여 파일에 데이터를 저장합니다.")

In [ ]:
lines = [
    "Python 파일 입출력\n",
    "반복문을 사용하여 데이터를 저장합니다.\n",
    "데이터 처리가 편리합니다.\n"
]

with open("abc/example.txt", "w", encoding="utf-8") as file:
    for line in lines:
        file.write(line)

In [ ]:
lines = ["첫 번째 줄입니다.\n", "두 번째 줄입니다.\n", "세 번째 줄입니다.\n"]

with open('abc/output.txt', 'w') as f:
    f.writelines(lines)

In [ ]:
with open("abc/example.txt", "r", encoding="utf-8") as file:
    content = file.read()
    print(content)

In [ ]:
with open("abc/example.txt", "r", encoding="utf-8") as file:
    line = file.readline()
    print(line)

In [ ]:
with open("abc/example.txt", "r", encoding="utf-8") as file:
    lines = file.readlines()

for line in lines:
    print(line.strip())

In [ ]:
with open("abc/data.txt", "r", encoding="utf-8") as f:
    for line in f.readlines():
        print(line.upper().strip())

# pickle

In [34]:
import pickle

# 직렬화할 데이터
data = {
    'name': '홍길동',
    'age': 30,
    'scores': [90, 85, 88]
}

# 직렬화하여 파일에 저장
with open('abc/data.pickle', 'wb') as f:
    pickle.dump(data, f)

# 파일에서 역직렬화하여 읽기
with open('abc/data.pickle', 'rb') as f:
    loaded_data = pickle.load(f)

print(loaded_data)  # 원본 데이터가 그대로 복원됨

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [35]:
import json

In [ ]:
# 직렬화하여 파일에 저장
with open('abc/data.json', 'w') as f:
    json.dump(data, f) # ,ensure_ascii=False

In [37]:
with open('abc/data.json', 'r') as f:
    loaded_txt = json.load(f)
    
print(loaded_txt)

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [39]:
import csv
data = [['name','age'], ['bob',20],['Alice',30]]
data

[['name', 'age'], ['bob', 20], ['Alice', 30]]

In [40]:
with open('abc/data.csv', 'w') as f:
    wrt = csv.writer(f)
    wrt.writerows(data)

In [41]:
import pandas as pd

df = pd.DataFrame(data)
df.to_csv('abc/data_df.csv')

In [42]:
pd.read_csv('abc/data_df.csv')

   Unnamed: 0      0    1
0           0   name  age
1           1    bob   20
2           2  Alice   30