# 도서 정보 객체

In [7]:
class Book:
    def __init__(self, rank, title, author, price):
        self.rank = rank
        self.title = title
        self.author = author
        self.price = price

    def __str__(self):
        return f"{self.rank}, {self.title}, {self.author}, {self.price}"
    
    def to_dict(self):
        return {'rank':self.rank, 
                'title':self.title, 
                'author':self.author, 
                'price':self.price}
    
    def to_list(self):
        return [self.rank, 
                self.title, 
                self.author, 
                self.price]

책 리스트   
#yesBestList > li:nth-child(1) > div > div.item_info

책이름   
#yesBestList > li:nth-child(1) > div > div.item_info > div.info_row.info_name > a.gd_name

작가   
#yesBestList > li:nth-child(1) > div > div.item_info > div.info_row.info_pubGrp > span.authPub.info_auth > a

가격   
#yesBestList > li:nth-child(1) > div > div.item_info > div.info_row.info_price > strong > em

In [15]:
import requests
from bs4 import BeautifulSoup
url = 'https://www.yes24.com/Product/Category/BestSeller?categoryNumber=001'
res = requests.get(url)
soup = BeautifulSoup(res.content, 'html.parser')
best_list_el = soup.select("#yesBestList div.item_info") # id = "yesBestList" 후손 div class ="item_info"
len(best_list_el) # best_list_el : 책 리스트

24

In [62]:
book_list = []

for i,item in enumerate(best_list_el):
    title = item.select_one('div.info_row.info_name > a.gd_name').text
    author = item.select_one('div.info_row.info_pubGrp > span.authPub.info_auth > a').text
    price = item.select_one('div.info_price > strong > em').text
    book_list.append(Book(i+1, title, author, price))

# 화면에 출력하기
for book in book_list:
    print(book)

1, 다크 심리학, 다크 사이드 프로젝트, 19,710
2, 궤도, 서맨사 하비, 15,300
3, 먹어 보면 알지 : 호랑수박의 전설, 이지은, 15,300
4, 해커스 토익 기출 VOCA (보카), David Cho, 11,610
5, 2026 유휘운 행정법총론 요약노트+기출문제 (요.플.), 유휘운, 31,500
6, 편안함의 습격, 마이클 이스터, 19,800
7, 러닝&마라톤 무작정 따라하기, 김병현, 24,750
8, 푸른 사자 와니니 8, 이현, 12,420
9, 급류, 정대건, 12,600
10, 단 한 번의 삶, 김영하, 15,120
11, 글로벌 주식 투자 빅 시프트, 메리츠증권 리서치센터, 29,700
12, 2026 써니 행정법총론 기본서, 박준철, 38,700
13, 초역 부처의 말, 코이케 류노스케, 16,020
14, 고양이 해결사 깜냥 8, 홍민정, 12,600
15, 초보자를 단숨에 고수로 만드는 주식투자 핵심 수업, 이정윤, 22,500
16, 윈드 브레이커 9~10 세트, 니이 사토루, 10,800
17, 새로운 질서, 헨리 A. 키신저, 17,820
18, 위버멘쉬, 프리드리히 니체, 16,020
19, 너에게 들려주는 꿋꿋한 말, 김종원, 16,200
20, 드디어 만나는 해부학 수업, 케빈 랭포드, 17,910
21, SQL 자격검정 실전문제, 한국데이터진흥원, 17,460
22, 큰별쌤 최태성의 별별한국사 시대별 기출문제집 한국사능력검정시험 심화(1,2,3급), 최태성, 17,730
23, 관상진료학, 마창석, 22,500
24, 너에게 들려주는 단단한 말, 김종원, 16,200

In [17]:
# 한꺼번에 코드!
import requests
from bs4 import BeautifulSoup
url = 'https://www.yes24.com/Product/Category/BestSeller?categoryNumber=001'
bestseller = requests.get(url)
soup = BeautifulSoup(bestseller.content, "html.parser")
best_list_el = soup.select("#yesBestList div.item_info")
print(len(best_list_el))

# 도서 목록을 저장할 리스트를 선언
book_list = []
# 각 리스트에 요소를 찾아서 추가(append)
for i, item in enumerate(best_list_el):
    title = item.select_one("div.info_name > a").text
    author = item.select_one(".info_auth > a").text
    price = item.select_one(".info_price .txt_num").text
    book_list.append(Book(i+1, title, author, price))
    
# 화면에 출력하기
for book in book_list:
    print(book)

24
1, 혼모노, 성해나, 16,200원
2, 류수영의 평생 레시피, 류수영, 22,500원
3, 가공범, 히가시노 게이고, 19,800원
4, 돌비공포라디오 더 레드, 돌비, 17,820원
5, 2025 큰별쌤 최태성의 별별한국사 한국사능력검정시험 심화(1,2,3급) 상, 최태성, 14,850원
6, 박곰희 연금 부자 수업, 박곰희, 18,900원
7, 2025 큰별쌤 최태성의 별별한국사 기출 500제 한국사능력검정시험 심화(1,2,3급), 최태성, 17,550원
8, 단 한 줄만 내 마음에 새긴다고 해도, 나민애, 21,420원
9, 2025 큰별쌤 최태성의 별별한국사 한국사능력검정시험 심화(1,2,3급) 하, 최태성, 14,400원
10, ETS 토익 정기시험 기출문제집 1000 Vol. 4 RC, ETS, 17,820원
11, ETS 토익 정기시험 기출문제집 1000 Vol. 4 LC, ETS, 17,820원
12, 료의 생각 없는 생각, 료, 18,000원
13, 모순, 양귀자, 11,700원
14, 안녕이라 그랬어, 김애란, 15,120원
15, 자몽살구클럽, 한로로, 10,800원
16, 인생을 바꾸는 최고의 ETF, 잼투리, 22,050원
17, 청춘의 독서, 유시민, 17,010원
18, 소년이 온다, 한강, 13,500원
19, 첫 여름, 완주, 김금희, 15,300원
20, 경험의 멸종, 크리스틴 로젠, 17,820원
21, 어른의 행복은 조용하다, 태수, 16,020원
22, 견우와 선녀 대본집 세트, 양지훈, 41,400원
23, 어른의 품격을 채우는 100일 필사 노트, 김종원, 18,000원
24, 야구선수 김원중, 김원중, 18,000원

In [18]:
query = '''
CREATE TABLE IF NOT EXISTS BOOKS(
  RANK INTEGER PRIMARY KEY,
  TITLE TEXT,
  AUTHOR TEXT,
  PRICE INTEGER
)
'''

In [19]:
import sqlite3
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()
cursor.execute(query)
conn.commit()
conn.close()

In [20]:
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

In [21]:
ins_query = '''
INSERT INTO books (rank, title, author, price) VALUES (?,?,?,?)
'''

for book in book_list:
    cursor.execute(ins_query, book.to_list())
    
conn.commit()
conn.close()

# db table에서 읽어오기

In [25]:
def fetch_book_list_from_db():
  conn = sqlite3.connect('my_database.db')
  cursor= conn.cursor()
  try:
    cursor.execute('select * from books')
    rows = cursor.fetchall()
    return rows
  finally:
    conn.close()

In [26]:
books = fetch_book_list_from_db()
for book in books:
  print(book)

(1, '혼모노', '성해나', '16,200원')
(2, '류수영의 평생 레시피', '류수영', '22,500원')
(3, '가공범', '히가시노 게이고', '19,800원')
(4, '돌비공포라디오 더 레드', '돌비', '17,820원')
(5, '2025 큰별쌤 최태성의 별별한국사 한국사능력검정시험 심화(1,2,3급) 상', '최태성', '14,850원')
(6, '박곰희 연금 부자 수업', '박곰희', '18,900원')
(7, '2025 큰별쌤 최태성의 별별한국사 기출 500제 한국사능력검정시험 심화(1,2,3급)', '최태성', '17,550원')
(8, '단 한 줄만 내 마음에 새긴다고 해도', '나민애', '21,420원')
(9, '2025 큰별쌤 최태성의 별별한국사 한국사능력검정시험 심화(1,2,3급) 하', '최태성', '14,400원')
(10, 'ETS 토익 정기시험 기출문제집 1000 Vol. 4 RC', 'ETS', '17,820원')
(11, 'ETS 토익 정기시험 기출문제집 1000 Vol. 4 LC', 'ETS', '17,820원')
(12, '료의 생각 없는 생각', '료', '18,000원')
(13, '모순', '양귀자', '11,700원')
(14, '안녕이라 그랬어', '김애란', '15,120원')
(15, '자몽살구클럽', '한로로', '10,800원')
(16, '인생을 바꾸는 최고의 ETF', '잼투리', '22,050원')
(17, '청춘의 독서', '유시민', '17,010원')
(18, '소년이 온다', '한강', '13,500원')
(19, '첫 여름, 완주', '김금희', '15,300원')
(20, '경험의 멸종', '크리스틴 로젠', '17,820원')
(21, '어른의 행복은 조용하다', '태수', '16,020원')
(22, '견우와 선녀 대본집 세트', '양지훈', '41,400원')
(23, '어른의 품격을 채우는 100일 필사 노트', '김종원', '18,000원')
(24, '야구선수 김원중', '김원중', '18,000원')

여러 페이지 가져오기

## pageSize=100으로 뽑아보기

In [50]:
url_2 = 'https://www.yes24.com/Product/Category/BestSeller?categoryNumber=001&pageSize=100'

In [63]:
import requests
from bs4 import BeautifulSoup
res = requests.get(url_2)
soup = BeautifulSoup(res.content, 'html.parser')
best_list_100 = soup.select("#yesBestList div.item_info") # id = "yesBestList" 후손 div class ="item_info"
len(best_list_100) # best_list_el : 책 리스트

100

In [64]:
book_list = []

for i,item in enumerate(best_list_100):
    title = item.select_one('div.info_row.info_name > a.gd_name').text
    author = item.select_one('div.info_row.info_pubGrp > span.authPub.info_auth > a').text
    price = item.select_one('div.info_price > strong > em').text
    book_list.append(Book(i+1, title, author, price))

In [10]:
query = '''
CREATE TABLE IF NOT EXISTS BOOKS(
  RANK INTEGER PRIMARY KEY,
  TITLE TEXT,
  AUTHOR TEXT,
  PRICE INTEGER
)
'''

In [ ]:
import sqlite3
conn = sqlite3.connect('100_database.db')
cursor = conn.cursor()
cursor.execute(query)
ins_query = '''
INSERT INTO books (rank, title, author, price) VALUES (?,?,?,?)
'''

for book in book_list:
    cursor.execute(ins_query, book.to_list())
    
conn.commit()
conn.close()

In [67]:
ins_query = '''
INSERT INTO books (rank, title, author, price) VALUES (?,?,?,?)
'''

for book in book_list:
    cursor.execute(ins_query, book.to_list())
    
conn.commit()
conn.close()

IntegrityError: UNIQUE constraint failed: BOOKS.RANK

## 페이지 넘어가면서 뽑아보기

https://www.yes24.com/product/category/bestseller?categoryNumber=001&pageSize=24&pageNumber= 숫자 바꿔가면서

In [12]:
import requests
from bs4 import BeautifulSoup
import sqlite3

base_url = 'https://www.yes24.com/product/category/bestseller?categoryNumber=001&pageSize=24&pageNumber='
page_no = 3 
book_list = []

for page in range(1, page_no+1):
    # 페이지 연결
    url = f'{base_url}{page}'
    res = requests.get(url)
    soup = BeautifulSoup(res.content, 'html.parser')
    best_list_el = soup.select("#yesBestList div.item_info") # id = "yesBestList" 후손 div class ="item_info"
    # 요소 추출
    for i,item in enumerate(best_list_el):
        title = item.select_one('div.info_row.info_name > a.gd_name').text
        author = item.select_one('div.info_row.info_pubGrp > span.authPub.info_auth > a').text
        price = item.select_one('div.info_price > strong').text
        book_list.append(Book(i+1, title, author, price))

len(book_list)

72

In [11]:
import sqlite3
conn = sqlite3.connect('100_2_database.db')
cursor = conn.cursor()
cursor.execute(query)
ins_query = '''
INSERT INTO books (rank, title, author, price) VALUES (?,?,?,?)
'''

for book in book_list:
    cursor.execute(ins_query, book.to_list())
    
conn.commit()
conn.close()

IntegrityError: UNIQUE constraint failed: BOOKS.RANK

In [95]:
import os

db_path = "100_3_my_database.db"  # 삭제할 SQLite DB 파일 경로

# DB 파일이 존재하면 삭제
if os.path.exists(db_path):
    os.remove(db_path)
    print(f"{db_path} 삭제 완료")
else:
    print("DB 파일이 존재하지 않습니다.")

PermissionError: [WinError 32] 다른 프로세스가 파일을 사용 중이기 때문에 프로세스가 액세스 할 수 없습니다: '100_3_my_database.db'

# mysql에 옮겨넣기

In [73]:
import pymysql

# DB 연결
con = pymysql.connect(host='localhost', user='root', password='1234', db='my_db', charset='utf8')
cursor = con.cursor()

# 테이블 생성
create_table_sql = ''' 
CREATE TABLE IF NOT EXISTS BOOKS (
    `RANK` INTEGER PRIMARY KEY,
    TITLE TEXT,
    AUTHOR TEXT, 
    PRICE INTEGER
)
'''
cursor.execute(create_table_sql)
con.commit()

In [74]:
import sqlite3

# 1. SQLite 연결
sqlite_conn = sqlite3.connect('100_database.db')  # SQLite DB 파일 경로
sqlite_cursor = sqlite_conn.cursor()

# 2. SQLite에서 데이터 읽기
sqlite_cursor.execute("SELECT RANK, TITLE, AUTHOR, PRICE FROM BOOKS")
rows = sqlite_cursor.fetchall()

# 3. MySQL에 데이터 삽입
insert_sql = "INSERT INTO BOOKS (`RANK`, TITLE, AUTHOR, PRICE) VALUES (%s, %s, %s, %s)"

try:
    cursor.executemany(insert_sql, rows)
    con.commit()
    print(f"{cursor.rowcount}개의 행이 MySQL로 복사되었습니다.")
except Exception as e:
    print("에러 발생:", e)
    con.rollback()

# 4. 연결 종료
sqlite_conn.close()
cursor.close()
con.close()

에러 발생: (1265, "Data truncated for column 'PRICE' at row 1")

In [75]:
import sqlite3
import pymysql
import re

# SQLite 연결
sqlite_conn = sqlite3.connect('100_database.db')
sqlite_cursor = sqlite_conn.cursor()

# MySQL 연결
mysql_conn = pymysql.connect(
    host='localhost',
    user='root',
    password='1234',
    db='my_db',
    charset='utf8'
)
mysql_cursor = mysql_conn.cursor()

# SQLite 데이터 가져오기
sqlite_cursor.execute("SELECT RANK, TITLE, AUTHOR, PRICE FROM BOOKS")
rows = sqlite_cursor.fetchall()

# PRICE에서 '원' 제거 및 숫자만 추출
def clean_price(price_str):
    if not price_str:
        return 0
    digits = re.sub(r'[^0-9]', '', str(price_str))  # 숫자 이외 문자 제거
    return int(digits) if digits else 0

cleaned_rows = [(rank, title, author, clean_price(price)) for rank, title, author, price in rows]

# MySQL에 삽입
insert_sql = "INSERT INTO BOOKS (`RANK`, TITLE, AUTHOR, PRICE) VALUES (%s, %s, %s, %s)"
mysql_cursor.executemany(insert_sql, cleaned_rows)
mysql_conn.commit()

print(f"{mysql_cursor.rowcount}개의 행이 MySQL로 복사되었습니다.")

# 연결 종료
sqlite_conn.close()
mysql_cursor.close()
mysql_conn.close()

100개의 행이 MySQL로 복사되었습니다.