# 함수    

- 인자 = 매개변수, 입력, 파라미터
- 변환값 = 리턴값, 결과값
- 함수이름
   
   
- 함수 정의 > 호출

In [38]:
#definition
def my_func1():
    print('my first function')
    print('hello')
    print('good job')

def my_func2():
    print('my first function')
    print('hello')
    print('good job')
    return 'hello'

In [39]:
#call
my_func1()

my first function
hello
good job

In [40]:
type(my_func1)

function

In [44]:
my_fun_var1 = my_func1()
my_fun_var1

my first function
hello
good job

In [49]:
print(my_fun_var)

None

In [51]:
my_fun_var2 = my_func2()
my_fun_var2

my first function
hello
good job

'hello'

In [53]:
print(my_fun_var2)

hello

# 입력값이 있는 함수

In [46]:
def my_cals(x):
    print(f'{x}를 계산합니다.')

In [48]:
my_cals(10)

10를 계산합니다.

In [54]:
def my_cals1(x):
    print(f'{x}를 계산합니다.')
    z = x*20
    return z

In [62]:
result = my_cals1(10)
print(result)

10를 계산합니다.
200

In [66]:
def my_calc2(x,y):
    print(f'{x}와 {y}를 계산합니다.')
    add_result = x+y
    mul_result = x*y
    return add_result, mul_result

In [67]:
my_calc2(10,30) # 함수 return값 -> 튜플

10와 30를 계산합니다.

(40, 300)

In [70]:
func_result1 = 0
func_result1, f2 = my_calc2(10,30) #unpacking
func_result1

10와 30를 계산합니다.

40

In [71]:
f2

300

## 입력값의 타입 : 수치형 vs. (리스트) 객체형

수치형  : 값에 의한 전달 call by value   

객체형 : 값(참조) call by reference > 같은 객체를 다룬다

In [73]:
# 리스트 매개변수의 실행

def my_calc3(a, lst1):
    a += 1
    lst1.append(a)
    return a

In [78]:
num = 10
lst_num = [1, 2,'12']

print(f'before : {num}, {lst_num}')

my_calc3(num, lst_num)
print(f'after : {num}, {lst_num}')

before : 10, [1, 2, '12']
after : 10, [1, 2, '12', 11]

 키워드매개변수 : 함수의 매개변수는 목록은 변수명이 매개변수 명이다.     
     
 매개변수명을 이용한 호출은 매개변수의 순서와 무관하다.

In [85]:
my_calc3(lst1=lst_num, a =num,)

11

In [86]:
my_calc3(a=num, lst1=lst_num)

11

In [107]:
def greeting(name, greeting = 'hello'): #기본인자
    print(f'{greeting}, {name} 님!')

greeting('minsu', 'hello,')

hello,, minsu 님!

In [108]:
greeting('alice', 'hihi')

hihi, alice 님!

In [109]:
greeting('bob')

hello, bob 님!

# 가변인자

In [114]:
def sum_all(*args): #매개변수 앞에 *매개변수 ==> 값이 여러개 들어갈 수 잇엉 # 가변인자

    return sum(args)

In [113]:
sum_all(1,2,3,4,5)

15

In [119]:
def sum_all1(arg1, arg2,arg3, *args): # (arg1, *args, arg2, arg3)  = X 안돼
    print(args) # args 튜플
    result = arg1 + arg2 +arg3 + sum(args)
    return result

In [120]:
sum_all1(1,2,3,4,5,6,7,8,9,10)

(4, 5, 6, 7, 8, 9, 10)

55

In [126]:
## **args 
def print_info(**kargs):
    for k,v in kargs.items():
        print(f'{k},{v}')

In [128]:
print_info(name ='hong', age=20, city='seoul', nick_name='jessi')

name,hong
age,20
city,seoul
nick_name,jessi

# 요일 구하는 함수   

   
-입력 : years, month, day   
-출력 : '월요일'   
-함수명 : 요일찾기()

In [ ]:
# 날짜 - 년,월,일 year = 2025, month = 06, day = 05

# 년도일수 입력한 년도 -1 * 365
# 윤년인지 체크
# 2월 29일

# 월일수 입력한 월 -1 * 30
# 월별 일수 30/31


# 일수 입력한 일

In [ ]:
def 요일찾기(year, month, day):
    week_day_name = '일요일'
    return week_day_name

In [207]:
def 요일찾기(year, month, day):

    # 날짜 - 연,월,일  year=2025 month=06, day=05
    total_days = 0
    #년도일수 입력년도-1 * 365
    #윤년인지 체크
    #2월이 29일
    
    for i in range(1,year):
        #윤년: 400으로 나누어 나머지가 0, 4로 나누어 나머지가 0
        #평년: 100으로 나누어 나머지가 0
    
        if 윤년체크(i):
            total_days += 366
        else:
            total_days += 365
    
    print(total_days)
    #월일수 입력한 월 -1 * 30
    #월별 일수
    month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
    for m in range(1,month):
        total_days += month_days[m]
    
    #올해가 윤년인지 # 3월 이상부터는 윤년이면 +1 
    if month>=3 :
        if 윤년체크(year):
            total_days += 1
            
    print(total_days)
    
    #일수 입력한 일
    total_days += day
    
    print(total_days)
    
    #요일 
    remain_days = total_days % 7
    #요일 정하기
    day_names = ['일요일','월요일','화요일','수요일','목요일','금요일','토요일']
    week_day_name = day_names[remain_days]
    return week_day_name
    
요일찾기(2025,6,5)

738760
738911
738916

'수요일'

In [181]:
# 날짜 - 연,월,일  year=2025 month=06, day=05
year = 1999
month = 3
day = 15
my_days = 0
#년도일수 입력년도-1 * 365
#윤년인지 체크
#2월이 29일

for i in range(1,year):
    #윤년: 400으로 나누어 나머지가 0, 4로 나누어 나머지가 0
    #평년: 100으로 나누어 나머지가 0

    if i%400 == 0:
        my_days += 366
    elif i%100 == 0:
        my_days += 365
    elif i%4 == 0:
        my_days += 366
    else:
        my_days += 365

print(my_days)
#월일수 입력한 월 -1 * 30
#월별 일수
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
for m in range(1,month):
    my_days += month_days[m]

#올해가 윤년인지 # 3월 이상부터는 윤년이면 +1 
if month>=3 :
    if year%400 == 0:
        my_days += 1
    elif year%100 == 0:
        my_days += 0
    elif year%4 == 0:
        my_days += 1
    else:
        my_days += 0
        
print(my_days)

#일수 입력한 일
my_days += day

print(my_days)

#요일 
remain_days = total_days % 7

if remain_days == 1:
    print('월')
elif remain_days ==2:
    print('화')
elif remain_days ==3:
    print('수')
elif remain_days ==4:
    print('목')
elif remain_days ==5:
    print('금')
elif remain_days ==6:
    print('토')
elif remain_days ==7:
    print('일')

729754
729813
729828
월

In [182]:
life = total_days-my_days
my_years = life / 365

In [183]:
life, my_years

(9579, 26.243835616438357)

In [ ]:
def 요일찾기(year, month, day):
    week_day_name = '일요일'
    return week_day_name

In [1]:
def 윤년체크(year):
    #윤년: 400으로 나누어 나머지가 0, 4로 나누어 나머지가 0
    #평년: 100으로 나누어 나머지가 0
   
    if year%400 == 0:
        return True
    elif year%100 == 0:
        return False
    elif year%4 == 0:
        return True
    else:
        return False

In [2]:
def 요일찾기(year, month, day):
    week_day_name = '일요일'
    total_days = 0
    
    for i in range(1,year):

        if 윤년체크(i):
            total_days += 366
        else :
            total_days += 365
        
    #print(total_days)
    
    #월일수 입력한 월 -1 * 30
    #월별 일수
    month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
    for m in range(1,month):
        total_days += month_days[m]
    
    #올해가 윤년인지
    if month>=3 :
        if 윤년체크(year):
            total_days += 1
            
    #print(total_days)
    
    #일수 입력한 일
    total_days += day
    
    #print(total_days)
    
    #요일정하기
    remain_days = total_days % 7
    
    day_names = ['일요일','월요일','화요일','수요일','목요일','금요일','토요일']
    week_day_name = day_names[remain_days]
    
        
    return week_day_name

In [3]:
요일찾기(2025, 6, 5)

'목요일'

# 성적처리 시스템

-calc_total()    
-calc_average()   
-calc_order()   

-print_student(students)   
-print_class() : 반평균, 곽 과목별 평균 출력

In [22]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

In [23]:
# calc_total()
def calc_total(stus):
    for s in stus:
        s['total'] = s['kor'] + s['eng'] + s['math']

calc_total(students)
students

[{'num': '1',
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 255,
  'avg': 0.0,
  'order': 0},
 {'num': '2',
  'name': '박제동',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 265,
  'avg': 0.0,
  'order': 0},
 {'num': '3',
  'name': '홍길동',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 240,
  'avg': 0.0,
  'order': 0}]

In [31]:
# calc_average()
def calc_average(stus):
    for s in stus:
        s['avg'] = (s['kor'] + s['eng'] + s['math'])/3

calc_average(students)
students

[{'num': '1',
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 255,
  'avg': 85.0,
  'order': 2},
 {'num': '2',
  'name': '박제동',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 265,
  'avg': 88.33333333333333,
  'order': 1},
 {'num': '3',
  'name': '홍길동',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 240,
  'avg': 80.0,
  'order': 3}]

In [29]:
# calc_order() 
def calc_order(students):
    # 학생 수만큼 반복하면서
    for i in range(len(students)):
        rank = 1  # 기본 순위는 1등부터 시작

        # 다른 모든 학생들과 비교해서
        for j in range(len(students)):
            if students[j]['total'] > students[i]['total']:
                rank += 1  # 자기보다 total 점수가 높은 사람이 있으면 순위 밀림

        students[i]['order'] = rank  # 최종 순위를 넣어줌

calc_order(students)
students

[{'num': '1',
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 255,
  'avg': 85.0,
  'order': 2},
 {'num': '2',
  'name': '박제동',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 265,
  'avg': 88.33333333333333,
  'order': 1},
 {'num': '3',
  'name': '홍길동',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 240,
  'avg': 80.0,
  'order': 3}]

In [ ]:
# print_class() 반평균, 곽 과목별 평균 출력
def print_class(stus):
    for i in stus:

# 람다 함수   

선언 >> lambda <매개변수> : 코드    
호출 >> (lambda <매개변수> : 코드) (매개변수값)

In [1]:
def aaa(a):
    result = a + 1
    return result

In [11]:
# lambda 선언
lambda a : a + 1

In [12]:
# lambda의 정의 즉시 호출
(lambda a : a + 1)(7)

8

In [13]:
# lambda의 재정의 (호출)
my_lambda = lambda a : a+1
my_lambda(3)

4

In [17]:
def sum1(a,b):
    return a+b

sum1(3,5)

8

In [16]:
(lambda a,b : a + b)(45, 50)

95

In [23]:
# def calc_func(a,b,opr):
#     if opr == '+':
#         return a+b

In [24]:
def calc_func(a,b,opr_func):
    result = opr_func(a,b)
    return result

In [25]:
calc_func(35,50, lambda x,y: x+y)

85

# map() 함수

In [30]:
# map 함수
fruits = ['apple','banana','cherry']
# str.upper

# fruits[0].upper()

list(map(str.upper, fruits))  # map으로만 한다고 출력이 되는게 아니라 list로 만들어 줘야지 볼 수 있다.

['APPLE', 'BANANA', 'CHERRY']

In [32]:
str_number = '12345' # 각 숫자를 각각 str 리스트로 만들고 싶음
list(str_number) #문자열 리스트

['1', '2', '3', '4', '5']

In [33]:
int(list(str_number)) # ERROR

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [44]:
numbers = list(map(int, str_number))
numbers

[1, 2, 3, 4, 5]

In [43]:
list(map(lambda x : x**2, numbers))

[1, 4, 9, 16, 25]

In [46]:
kor_score = [1,2,3]
eng_score = [4,5,6]

kscore = map(lambda x,y : x + y, kor_score, eng_score) 
list(kscore)

[5, 7, 9]

In [47]:
kor_score = [1,2,3]
eng_score = [4,5,6]
math_score = [7,8,9]

list(map(lambda x,y,z : x+y+z, kor_score, eng_score, math_score))

[12, 15, 18]

In [53]:
# 평균
list(map(lambda x,y,z : (x+y+z)/3, kor_score, eng_score, math_score))

[4.0, 5.0, 6.0]

In [57]:
# zip을 활용한 합 # zip
kor_score = [1,2,3]
eng_score = [4,5,6]
math_score = [7,8,9]

list(map(lambda s : sum(s), zip(kor_score, eng_score, math_score)))

[12, 15, 18]

In [58]:
# zip을 활용한 평균 #zip
kor_score = [1,2,3]
eng_score = [4,5,6]
math_score = [7,8,9]

list(map(lambda s : sum(s)/3 , zip(kor_score, eng_score, math_score)))

[4.0, 5.0, 6.0]

In [ ]:
# 최대값
kor_score = [1,2,3]
eng_score = [4,5,6]
math_score = [7,8,9]

# filter()

In [2]:
# 리스트 컴프리헨션의 필터

numbers = [1, 2, 3, 4, 5, 6]

[x for x in numbers if x %2 ==0]

[2, 4, 6]

In [6]:
#lambda - filter()

list(filter(lambda x : x%2 ==0, numbers))

[2, 4, 6]

In [8]:
# numbers를 제곱하고, 그 중에 짝수인 리스트로 리턴
list(filter(lambda x : x%2 ==0, map(lambda x : x**2, numbers)))

[4, 16, 36]

In [1]:
# filter() 기본 사용 예시
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = filter(lambda x: x % 2 == 0, numbers)
print(list(even_numbers))  # [2, 4, 6]

# for 문에서의 활용
for even in filter(lambda x: x % 2 == 0, numbers):
    print(even)

[2, 4, 6]
2
4
6

# sorted 함수

In [9]:
numbers = [3,4,12,2,5,6,8,7]
numbers.sort() # sort() method
numbers

[2, 3, 4, 5, 6, 7, 8, 12]

In [13]:
numbers = [3,4,12,2,5,6,8,7]

nums = sorted(numbers) # nums = [2, 3, 4, 5, 6, 7, 8, 12]

print(numbers) # numbers = [3,4,12,2,5,6,8,7]

[3, 4, 12, 2, 5, 6, 8, 7]

In [15]:
numbers = [ -3, 1, 5, -6, -8]
sorted(numbers, key =abs)  # abs = absolute 절대값

[1, -3, 5, -6, -8]

In [24]:
words = ['apple', 'banana', 'tomato', 'blueberry']
sorted(words)

['apple', 'banana', 'blueberry', 'tomato']

In [25]:
sorted(words, key =len)

['apple', 'banana', 'tomato', 'blueberry']

In [26]:
sorted(words, key =len, reverse = True)

['blueberry', 'banana', 'tomato', 'apple']

In [27]:
#마지막글자의 순
sorted(words, key = lambda w : w[-1])

['banana', 'apple', 'tomato', 'blueberry']

In [28]:
#튜플의 요소 기준 정렬
data = [(1,4),(2,3),(3,2)]
sorted(data, key=lambda x:x[1]) # [(!1,4),(!2,3),(!3,2)]

[(3, 2), (2, 3), (1, 4)]

In [36]:
# 이름, 나이, 점수
students = [('Alice',20,85), ('Bob',22,90),('Charlie',21,78)]
# 나이 기준으로 정렬
age_sorted = sorted(students,key = lambda x: x[1])
#높은 점수순으로 정렬
score_sorted = sorted(students, key = lambda x :x[2], reverse = True)

age_sorted, score_sorted

([('Alice', 20, 85), ('Charlie', 21, 78), ('Bob', 22, 90)],
 [('Bob', 22, 90), ('Alice', 20, 85), ('Charlie', 21, 78)])