# 함수

- 인자 = 매개변수, 입력, 파라미터
- 반환값 = 리턴값, 결과값
- 함수이름

- 함수 정의 > 호출

In [2]:
#definition
def my_func():
    print('my first function')
    print('hello')
    print('good job')

In [15]:
#call
my_func()

my first function
hello
good job

In [4]:
type(my_func)

function

In [22]:
#return 이 없는 경우
my_func_var1 = my_func()

my first function
hello
good job

In [24]:
print(my_func_var1)

None

In [26]:
#리턴이 있는 경우
def my_func1():
    print('my first function')
    print('hello')
    print('good job')
    return 'hello'

In [27]:
my_func1()

my first function
hello
good job

'hello'

In [28]:
my_func_var2 = my_func1()

my first function
hello
good job

In [29]:
my_func_var2

'hello'

# 입력값이 있는 함수

In [30]:
def my_calc(x):
    print(f'{x}를 계산합니다.')

In [31]:
my_calc(10)

10를 계산합니다.

In [32]:
def my_calc1(x):
    print(f'{x}를 계산합니다.')
    z = x*20
    return z

In [33]:
result = my_calc1(10)
print(result)

10를 계산합니다.
200

In [34]:
def my_calc2(x,y):
    print(f'{x}와 {y}를 계산합니다.')
    add_result = x+y
    mul_result = x*y
    return add_result, mul_result

In [35]:
my_calc2(10,20)

10와 20를 계산합니다.

(30, 200)

In [36]:
func_result = my_calc2(10,20)
func_result[0] = 100

10와 20를 계산합니다.

TypeError: 'tuple' object does not support item assignment

In [38]:
func_result1, f2 = my_calc2(10,20) #unpacking
func_result1

10와 20를 계산합니다.

30

In [39]:
f2

200

## 입력값의 타입: 수치형 vs. (리스트) 객체형

- 수치형 : 값에 의한 전달 call by value
- 객체형 : 값(참조)의 전달 call by reference > 같은 객체를 다룬다

In [41]:
#리스트 매개변수의 실행
def my_calc3(a, lst1):
    a += 1
    lst1.append(a)
    return a

In [42]:
num = 10
lst_num =  [1,2,'12'] 
print(f'before : {num}, {lst_num}')

my_calc3(num,lst_num)
print(f'after : {num}, {lst_num}')

before : 10, [1, 2, '12']
after : 10, [1, 2, '12', 11]

In [43]:
my_calc3(lst_num, num)

TypeError: 'int' object is not iterable

In [44]:
my_calc3(a=num, lst1=lst_num)

11

키워드매개변수 : 함수의 매개변수 목록은 변수명이 매개변수 명이다. .

매개변수명을 이용한 호출은 매개변수의 순서와 무관하다.

In [45]:
my_calc3(lst1=lst_num, a=num, )

11

In [51]:
#기본값, 기본인자
def greeting(name, greeting='hello'):
    print(f'{greeting}, {name}님!')

greeting('minsu', 'hello, ')

hello, , minsu님!

In [50]:
greeting('alice', 'hi')

hi, alice님!

In [52]:
greeting('bob')

hello, bob님!

In [55]:
#가변인자
def sum_all( *args ):
    return sum(args)

In [54]:
sum_all(1,2,3,4,5)

15

In [62]:
#def sum_all( arg1, *args , arg2):
def sum_all( arg1, arg2, *args):
    print(args)
    result = arg1+arg2+sum(args)
    return result

In [63]:
sum_all(1,2,3,4,5)

(3, 4, 5)

15

In [ ]:
# 매개변수의 순서가 중요

In [64]:
## **kargs
def print_info(**kwargs):
    for k,v in kwargs.items():
        print(f'{k}, {v}')

In [66]:
print_info( name='hong', age=20, city = 'seoul', nick_name='bob' )

name, hong
age, 20
city, seoul
nick_name, bob

In [77]:
import datetime
today = datetime.date(2025,6,5)
#type(today)
#dir(today)
today.weekday()

3

# 요일 구하는 함수 정의
- 입력 : year, month, day
- 출력 : '월요일'
- 함수명 : 요일찾기()

In [69]:
year=2025
month=6
day=5

In [74]:
# 날짜 - 연,월,일  year=2025 month=06, day=05

total_days = 0
#년도일수 입력년도-1 * 365
#윤년인지 체크
#2월이 29일

for i in range(1,year):
    #윤년: 400으로 나누어 나머지가 0, 4로 나누어 나머지가 0
    #평년: 100으로 나누어 나머지가 0

    if i%400 == 0:
        total_days += 366
    elif i%100 == 0:
        total_days += 365
    elif i%4 == 0:
        total_days += 366
    else:
        total_days += 365

print(total_days)
#월일수 입력한 월 -1 * 30
#월별 일수
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
for m in range(1,month):
    total_days += month_days[m]

#올해가 윤년인지
if month>=3 :
    if year%400 == 0:
        total_days += 1
    elif year%100 == 0:
        total_days += 0
    elif year%4 == 0:
        total_days += 1
    else:
        total_days += 0
        
print(total_days)

#일수 입력한 일
total_days += day

print(total_days)

#요일정하기
remain_days = total_days % 7

if remain_days == 1:
    print('월요일')
elif remain_days == 2:
    print('화요일')
elif remain_days == 3:
    print('수요일')
elif remain_days == 4:
    print('목요일')
elif remain_days == 5:
    print('금요일')
elif remain_days == 6:
    print('토요일')
else:
    print('일요일')

739251
739402
739407
목요일

In [96]:
def 윤년체크(year):
    #윤년: 400으로 나누어 나머지가 0, 4로 나누어 나머지가 0
    #평년: 100으로 나누어 나머지가 0
   
    if year%400 == 0:
        return True
    elif year%100 == 0:
        return False
    elif year%4 == 0:
        return True
    else:
        return False

In [95]:
윤년체크(2028)

True

In [92]:
def 요일찾기(year, month, day):
    week_day_name = '일요일'
    total_days = 0
    
    for i in range(1,year):

        if 윤년체크(i):
            total_days += 366
        else :
            total_days += 365
        
    #print(total_days)
    
    #월일수 입력한 월 -1 * 30
    #월별 일수
    month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
    for m in range(1,month):
        total_days += month_days[m]
    
    #올해가 윤년인지
    if month>=3 :
        if 윤년체크(year):
            total_days += 1
            
    #print(total_days)
    
    #일수 입력한 일
    total_days += day
    
    #print(total_days)
    
    #요일정하기
    remain_days = total_days % 7
    
    day_names = ['일요일','월요일','화요일','수요일','목요일','금요일','토요일']
    week_day_name = day_names[remain_days]
    
        
    return week_day_name

In [93]:
year=2025
month=6
day=4

day_name = 요일찾기(year, month, day)
print(f'입력하신 날짜는 {day_name}입니다.')

입력하신 날짜는 수요일입니다.

# 성적처리 시스템

- calc_total()
- calc_average()
- calc__order()
  
- print_student(students) : 전학생의 성적을 출력
- print_class() : 반평균, 각 과목별 평균 출력

In [58]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

In [59]:
def calc_total(stus) :
    for s in stus:
        s['total'] = s['kor'] +  s['eng'] +  s['math']

In [60]:
def calc_average(stus):
    for s in stus:
        s['avg'] = (s['kor'] +  s['eng'] +  s['math'])/3

In [61]:
def calc_order(stus):
    
    for student in stus :  #students[0] 자료를 꺼낸 것이 student
        rank = 1
        for other in stus :
            if other['total'] > student['total'] :
                rank += 1
        student['order'] = rank
        #print(student['name'], student['order'])

In [62]:
def print_student(stus):
    for s in stus:
        print(f'이름: {s['name']} 국어: {s['kor']} 영어: {s['eng']} 수학: {s['math']} 등수: { s['order']}')

In [68]:
def print_class(stus):
    #반평균
    class_avg =0
    count = len(stus)
    
    class_avg = sum(student['total'] for student in stus) / count /3
    
    kor_avg =sum(student['kor'] for student in stus)/count
    eng_avg = sum(student['eng'] for student in stus)/count
    math_avg = sum(student['math'] for student in stus)/count
    #각 과목별 평균 출력
    print(f'반평균: {class_avg} 국어: {kor_avg} 영어: {eng_avg} 수학: {math_avg}')

In [69]:
print_class(students)

반평균: 84.44444444444444 국어: 86.66666666666667 영어: 81.66666666666667 수학: 85.0

In [70]:
calc_total(students)
calc_average(students)
calc_order(students)
print_student(students)
print_class(students)

이름: 김철수 국어: 90 영어: 80 수학: 85 등수: 2
이름: 박제동 국어: 90 영어: 85 수학: 90 등수: 1
이름: 홍길동 국어: 80 영어: 80 수학: 80 등수: 3
반평균: 84.44444444444444 국어: 86.66666666666667 영어: 81.66666666666667 수학: 85.0