# 반복문 : for , while

# for 문    

for 변수 in 반복자:   
반복자에는 리스트, 문자열, 튜플, 딕셔너리, 세트(집합)

In [2]:
data = [0, 1, 2, 3, 4]

for var in data : 
    print(var)

0
1
2
3
4

In [3]:
range(1,10)

range(1, 10)

In [4]:
for x in range(1,10):
    print(x)

1
2
3
4
5
6
7
8
9

In [5]:
#tuple, dictionary, str

In [6]:
immu = (1, 3, 5, 7)
for i in immu:
    print(i)

1
3
5
7

In [9]:
stu = {"name": "Kavin", "age" : 24, "major": "math"}
for x in stu:
    print(x)

name
age
major

In [12]:
ssttr = "kalvin"
for a in ssttr:

    print(a)

k
a
l
v
i
n

In [17]:
ran = range(1,10)
type(ran)

range

In [18]:
list(ran)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
type(ran), type(list(ran))

(range, list)

# range(1,10,2)
    start, stop, step=1(defalt값)

In [22]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [28]:
#1 ~ 100 합 구하기

sum1 = 0

for i in range(1,101):
    sum1 +=i
print(sum1)

5050

In [38]:
#3의 배수의 합(0~100)

sum2 = 0

for i in range(0,101,3): # range(3,101,3)
    sum2 += i

sum2

1683

In [34]:
#3의 배수의 합(0~100)

sum2 = 0 

for i in range(0,101):
    if (i%3) == 0:
        sum2 +=i

sum2

1683

In [39]:
char_list =[ 'a', 'b', 'c']
for x in char_list:
    print(x)

a
b
c

In [40]:
#인덱스를 같이 꺼낼 때  #enumerate
for i,v in enumerate(char_list):
    print(i,v)

0 a
1 b
2 c

In [47]:
# 리스트 2개 딕셔너리로 만들기 ------------------!!!----------------------
char_list2 = ['hello', 'hi', 'bye']
zip(char_list, char_list2)

(<zip at 0x143f3ea4900>, list)

In [48]:
for item in zip(char_list, char_list2):
    print(item)
type(item)

('a', 'hello')
('b', 'hi')
('c', 'bye')

tuple

In [56]:
# 구구단
for i in range(1,10):
    result = i * 2
    print(f'2 * {i} = {result}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [70]:
# 구구단
for x in range(1,10):
    print(f'{x}단 입니다')
    for y in range(1,10):
        result = x * y
        print(f'{x} * {y} = {result}')

1단 입니다
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2단 입니다
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3단 입니다
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4단 입니다
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5단 입니다
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6단 입니다
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7단 입니다
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8단 입니다
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9단 입니다
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [66]:
movie_dict = {"미션임파서블": 4, "미치광이삐애로":5, "씨너스":3, "울지않는아이":2}
for k,v in movie_dict.items():
    print(f"영화 {k}의 평점 : {'❤'*v}")

영화 미션임파서블의 평점 : ❤❤❤❤
영화 미치광이삐애로의 평점 : ❤❤❤❤❤
영화 씨너스의 평점 : ❤❤❤
영화 울지않는아이의 평점 : ❤❤

In [72]:
# 삼각형 찍어보기

for i in range(1,40,2):
    print(f'{'*'*i}')

*
***
*****
*******
*********
***********
*************
***************
*****************
*******************
*********************
***********************
*************************
***************************
*****************************
*******************************
*********************************
***********************************
*************************************
***************************************

In [74]:
# 삼각형 찍기
for i in range(1,6):
    for j in range(i):
        print('*', end='')
    print()

*
**
***
****
*****

In [76]:
for i in range(1,20,2):
    print(f'{' '*(20-i)}{'*'*i}')

                   *
                 ***
               *****
             *******
           *********
         ***********
       *************
     ***************
   *****************
 *******************

In [80]:
for i in range(1,20,2):
    print(f'{' '*(20-i)}{'*'*i}')

                   *
                 ***
               *****
             *******
           *********
         ***********
       *************
     ***************
   *****************
 *******************