In [2]:
import numpy as np
import pandas as pd

# 2ì°¨ì› ë„˜íŒŒì´ ì–´ë ˆì´ ìƒì„±
arr = np.array([[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]])

# ë°ì´í„°í”„ë ˆì„ ìƒì„±
df = pd.DataFrame(arr,index=['a', 'b','c'], columns=['A', 'B', 'C'])
print(df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [41]:
import pandas as pd

# ìƒ˜í”Œ ë°ì´í„°í”„ë ˆì„ ìƒì„±
data = {
    'ì´ë¦„': ['ê¹€ì² ìˆ˜', 'ì´ì˜í¬', 'ë°•ë¯¼ìˆ˜', 'ì •ìˆ˜ì§„', 'ìµœì˜í˜¸', 'í•œë¯¸ë˜', 'ìœ¤ì§€ì›'],
    'ë‚˜ì´': [25, 28, 22, 31, 27, 24, 29],
    'ì ìˆ˜': [85, 92, 78, 95, 88, 73, 91]
}
df = pd.DataFrame(data) #index = ['a', 'b', 'n', 'a', 'b', 'n','c']

# ì²˜ìŒ 5ê°œ í–‰ ë³´ê¸°
print("=== head() ===")
print(df.head())

# ë§ˆì§€ë§‰ 3ê°œ í–‰ ë³´ê¸°
print("\n=== tail(3) ===")
print(df.tail(3))

# ë°ì´í„°í”„ë ˆì„ ê¸°ë³¸ ì •ë³´
print("\n=== info() ===")
print(df.info())

# ê¸°ìˆ  í†µê³„ëŸ‰
print("\n=== describe() ===")
print(df.describe())

=== head() ===
    ì´ë¦„  ë‚˜ì´  ì ìˆ˜
0  ê¹€ì² ìˆ˜  25  85
1  ì´ì˜í¬  28  92
2  ë°•ë¯¼ìˆ˜  22  78
3  ì •ìˆ˜ì§„  31  95
4  ìµœì˜í˜¸  27  88

=== tail(3) ===
    ì´ë¦„  ë‚˜ì´  ì ìˆ˜
4  ìµœì˜í˜¸  27  88
5  í•œë¯¸ë˜  24  73
6  ìœ¤ì§€ì›  29  91

=== info() ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ì´ë¦„      7 non-null      object
 1   ë‚˜ì´      7 non-null      int64
 2   ì ìˆ˜      7 non-null      int64
dtypes: int64(2), object(1)
memory usage: 300.0+ bytes
None

=== describe() ===
              ë‚˜ì´         ì ìˆ˜
count   7.000000   7.000000
mean   26.571429  86.000000
std     3.101459   7.958224
min    22.000000  73.000000
25%    24.500000  81.500000
50%    27.000000  88.000000
75%    28.500000  91.500000
max    31.000000  95.000000

In [42]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [43]:
df.columns

Index(['ì´ë¦„', 'ë‚˜ì´', 'ì ìˆ˜'], dtype='object')

In [44]:
df.shape

(7, 3)

In [45]:
df.values

array([['ê¹€ì² ìˆ˜', 25, 85],
       ['ì´ì˜í¬', 28, 92],
       ['ë°•ë¯¼ìˆ˜', 22, 78],
       ['ì •ìˆ˜ì§„', 31, 95],
       ['ìµœì˜í˜¸', 27, 88],
       ['í•œë¯¸ë˜', 24, 73],
       ['ìœ¤ì§€ì›', 29, 91]], dtype=object)

In [46]:
df.rename(columns= {'ì´ë¦„': 'Name'})

  Name  ë‚˜ì´  ì ìˆ˜
0  ê¹€ì² ìˆ˜  25  85
1  ì´ì˜í¬  28  92
2  ë°•ë¯¼ìˆ˜  22  78
3  ì •ìˆ˜ì§„  31  95
4  ìµœì˜í˜¸  27  88
5  í•œë¯¸ë˜  24  73
6  ìœ¤ì§€ì›  29  91

In [54]:
df

    ì´ë¦„  ë‚˜ì´  ì ìˆ˜
0  ê¹€ì² ìˆ˜  25  85
1  ì´ì˜í¬  28  92
2  ë°•ë¯¼ìˆ˜  22  78
3  ì •ìˆ˜ì§„  31  95
4  ìµœì˜í˜¸  27  88
5  í•œë¯¸ë˜  24  73
6  ìœ¤ì§€ì›  29  91

In [47]:
df.loc[3]

ì´ë¦„    ì •ìˆ˜ì§„
ë‚˜ì´     31
ì ìˆ˜     95
Name: 3, dtype: object

In [53]:
df.loc[:, 'ì´ë¦„':'ì ìˆ˜']

    ì´ë¦„  ë‚˜ì´  ì ìˆ˜
0  ê¹€ì² ìˆ˜  25  85
1  ì´ì˜í¬  28  92
2  ë°•ë¯¼ìˆ˜  22  78
3  ì •ìˆ˜ì§„  31  95
4  ìµœì˜í˜¸  27  88
5  í•œë¯¸ë˜  24  73
6  ìœ¤ì§€ì›  29  91

In [56]:
df.loc[:,'ì ìˆ˜'] # (7,3) shapeì¸ë° 'ì ìˆ˜' columnë§Œ ë¶€ë¥´ë‹ˆê¹Œ ERROR

0    85
1    92
2    78
3    95
4    88
5    73
6    91
Name: ì ìˆ˜, dtype: int64

# melt()

In [1]:
import pandas as pd

# âœï¸ 1ë‹¨ê³„: melt()ë¥¼ ì‚¬ìš©í•  ë°ì´í„°í”„ë ˆì„ì„ ë§Œë“­ë‹ˆë‹¤.
# í•™ìƒë“¤ì˜ ê³¼ëª©ë³„ ì ìˆ˜ê°€ ì˜†ìœ¼ë¡œ ë‚˜ì—´ëœ í˜•íƒœì˜ ë°ì´í„°ë¼ê³  ìƒìƒí•´ë³´ì„¸ìš”.
data = {
    'í•™ìƒ': ['ê¹€ì² ìˆ˜', 'ì´ì˜í¬', 'ë°•ì§€ë¯¼'],
    'ìˆ˜í•™': [90, 85, 92],
    'ì˜ì–´': [78, 95, 88],
    'ê³¼í•™': [82, 90, 75]
}
df = pd.DataFrame(data)

print("--- ì›ë³¸ ë°ì´í„°í”„ë ˆì„ ---")
print(df)
print("-" * 25)

# âœï¸ 2ë‹¨ê³„: df.melt() ë©”ì„œë“œë¥¼ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°ë¥¼ ë³€í˜•í•©ë‹ˆë‹¤.
# 'í•™ìƒ' ì—´ì€ ê·¸ëŒ€ë¡œ ìœ ì§€í•˜ê³ , 'ìˆ˜í•™', 'ì˜ì–´', 'ê³¼í•™' ì—´ë“¤ì„ ìƒˆë¡œìš´ í–‰ìœ¼ë¡œ ë‚´ë¦´ ê±°ì˜ˆìš”.
# id_vars: 'id_vars'ëŠ” ê³ ì •í•˜ê³  ì‹¶ì€ ì—´(ì—¬ê¸°ì„œëŠ” 'í•™ìƒ')ì„ ì§€ì •í•´ìš”.
# var_name: ìƒˆë¡­ê²Œ ë§Œë“¤ì–´ì§ˆ 'ê³¼ëª©' ì—´ì˜ ì´ë¦„ì„ ì§€ì •í•´ìš”.
# value_name: ìƒˆë¡­ê²Œ ë§Œë“¤ì–´ì§ˆ 'ì ìˆ˜' ì—´ì˜ ì´ë¦„ì„ ì§€ì •í•´ìš”.
df_melted = df.melt(id_vars=['í•™ìƒ'], var_name='ê³¼ëª©', value_name='ì ìˆ˜')

print("\n--- melt() í›„ ë³€í˜•ëœ ë°ì´í„°í”„ë ˆì„ ---")
print(df_melted)
print("-" * 30)

# ê° ì¤„ì´ ì–´ë–¤ ì—­í• ì„ í•˜ëŠ”ì§€ ì„¤ëª…:
# import pandas as pd: Pandas ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ pdë¼ëŠ” ì´ë¦„ìœ¼ë¡œ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤.
# data = {...}: ë”•ì…”ë„ˆë¦¬ í˜•íƒœë¡œ í•™ìƒë“¤ì˜ ê³¼ëª©ë³„ ì ìˆ˜ ë°ì´í„°ë¥¼ ë§Œë“­ë‹ˆë‹¤.
# df = pd.DataFrame(data): ìœ„ ë”•ì…”ë„ˆë¦¬ë¥¼ Pandas ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜í•©ë‹ˆë‹¤.
# print(df): ë³€í˜• ì „ì˜ ì›ë³¸ ë°ì´í„°í”„ë ˆì„ì„ ì¶œë ¥í•˜ì—¬ ì–´ë–¤ ëª¨ìŠµì´ì—ˆëŠ”ì§€ í™•ì¸í•©ë‹ˆë‹¤.
# df_melted = df.melt(...): melt() ë©”ì„œë“œë¥¼ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°í”„ë ˆì„ì„ ë³€í˜•í•©ë‹ˆë‹¤.
#   id_vars=['í•™ìƒ']: 'í•™ìƒ' ì—´ì€ ê·¸ëŒ€ë¡œ ë‘ê³  ì‹¶ë‹¤ê³  ì•Œë ¤ì£¼ëŠ” ê±°ì˜ˆìš”.
#   var_name='ê³¼ëª©': ìƒˆë¡œ ë§Œë“¤ì–´ì§ˆ ê³¼ëª© ì´ë¦„ì„ ë‹´ëŠ” ì—´ì˜ ì´ë¦„ì„ 'ê³¼ëª©'ìœ¼ë¡œ ì§€ì •í•©ë‹ˆë‹¤.
#   value_name='ì ìˆ˜': ìƒˆë¡œ ë§Œë“¤ì–´ì§ˆ ì ìˆ˜ ê°’ì„ ë‹´ëŠ” ì—´ì˜ ì´ë¦„ì„ 'ì ìˆ˜'ë¡œ ì§€ì •í•©ë‹ˆë‹¤.
# print(df_melted): melt() í›„ ë³€í˜•ëœ ë°ì´í„°í”„ë ˆì„ì„ ì¶œë ¥í•˜ì—¬ ì–´ë–»ê²Œ ë°”ë€Œì—ˆëŠ”ì§€ í™•ì¸í•©ë‹ˆë‹¤.

--- ì›ë³¸ ë°ì´í„°í”„ë ˆì„ ---
    í•™ìƒ  ìˆ˜í•™  ì˜ì–´  ê³¼í•™
0  ê¹€ì² ìˆ˜  90  78  82
1  ì´ì˜í¬  85  95  90
2  ë°•ì§€ë¯¼  92  88  75
-------------------------

--- melt() í›„ ë³€í˜•ëœ ë°ì´í„°í”„ë ˆì„ ---
    í•™ìƒ  ê³¼ëª©  ì ìˆ˜
0  ê¹€ì² ìˆ˜  ìˆ˜í•™  90
1  ì´ì˜í¬  ìˆ˜í•™  85
2  ë°•ì§€ë¯¼  ìˆ˜í•™  92
3  ê¹€ì² ìˆ˜  ì˜ì–´  78
4  ì´ì˜í¬  ì˜ì–´  95
5  ë°•ì§€ë¯¼  ì˜ì–´  88
6  ê¹€ì² ìˆ˜  ê³¼í•™  82
7  ì´ì˜í¬  ê³¼í•™  90
8  ë°•ì§€ë¯¼  ê³¼í•™  75
------------------------------

In [2]:
import pandas as pd

# âœï¸ ì›ë³¸ ë°ì´í„°í”„ë ˆì„ (ë‹¤ì‹œ í•œë²ˆ ìƒê¸°!)
data = {
    'í•™ìƒ': ['ê¹€ì² ìˆ˜', 'ì´ì˜í¬', 'ë°•ì§€ë¯¼'],
    'ìˆ˜í•™': [90, 85, 92],
    'ì˜ì–´': [78, 95, 88],
    'ê³¼í•™': [82, 90, 75]
}
df = pd.DataFrame(data)

print("--- ì›ë³¸ ë°ì´í„°í”„ë ˆì„ ---")
print(df)
print("-" * 25)

# âœï¸ melt() ë©”ì„œë“œë¥¼ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°ë¥¼ ë³€í˜•í•©ë‹ˆë‹¤.
# id_vars: 'í•™ìƒ' ì—´ì€ ê³ ì •í•©ë‹ˆë‹¤.
# var_name: ìƒˆë¡œìš´ ì—´ 'ê³¼ëª©'ì—ëŠ” ì›ë˜ 'ìˆ˜í•™', 'ì˜ì–´', 'ê³¼í•™' ê°™ì€ ê³¼ëª© ì´ë¦„ë“¤ì´ ë“¤ì–´ê°‘ë‹ˆë‹¤.
# value_name: ìƒˆë¡œìš´ ì—´ 'ì ìˆ˜'ì—ëŠ” ê° ê³¼ëª©ì— í•´ë‹¹í•˜ëŠ” ì‹¤ì œ ì ìˆ˜ë“¤ì´ ë“¤ì–´ê°‘ë‹ˆë‹¤.
df_melted = df.melt(id_vars=['í•™ìƒ'], var_name='ê³¼ëª©')

print("\n--- melt() í›„ ë³€í˜•ëœ ë°ì´í„°í”„ë ˆì„ ---")
print(df_melted)
print("-" * 30)

# ğŸ’¡ ì—¬ê¸°ì„œ!
# var_name='ê³¼ëª©': ìƒˆë¡œ ìƒê¸´ 'ê³¼ëª©' ì—´ì€ 'ìˆ˜í•™', 'ì˜ì–´', 'ê³¼í•™'ì´ë¼ëŠ” "ë³€ìˆ˜ì˜ ì¢…ë¥˜"ë¥¼ ë‹´ê³  ìˆìŠµë‹ˆë‹¤.
# value_name='ì ìˆ˜': ìƒˆë¡œ ìƒê¸´ 'ì ìˆ˜' ì—´ì€ 90, 85, 92ì™€ ê°™ì€ "ì‹¤ì œ ê°’"ì„ ë‹´ê³  ìˆìŠµë‹ˆë‹¤.

# 'ê³¼ëª©' ì—´ì˜ ê°’('ìˆ˜í•™', 'ì˜ì–´', 'ê³¼í•™')ì´ 'ì ìˆ˜' ì—´ì˜ ê°’(90, 85, 92)ê³¼ ê°™ì§€ ì•Šì£ ?
# ì„œë¡œ ë‹¤ë¥¸ ì˜ë¯¸ì™€ ì—­í• ì„ í•˜ëŠ” ë³„ê°œì˜ ì—´ì¸ ê²ƒì„ ì•Œ ìˆ˜ ìˆì–´ìš”!

--- ì›ë³¸ ë°ì´í„°í”„ë ˆì„ ---
    í•™ìƒ  ìˆ˜í•™  ì˜ì–´  ê³¼í•™
0  ê¹€ì² ìˆ˜  90  78  82
1  ì´ì˜í¬  85  95  90
2  ë°•ì§€ë¯¼  92  88  75
-------------------------

--- melt() í›„ ë³€í˜•ëœ ë°ì´í„°í”„ë ˆì„ ---
    í•™ìƒ  ê³¼ëª©  value
0  ê¹€ì² ìˆ˜  ìˆ˜í•™     90
1  ì´ì˜í¬  ìˆ˜í•™     85
2  ë°•ì§€ë¯¼  ìˆ˜í•™     92
3  ê¹€ì² ìˆ˜  ì˜ì–´     78
4  ì´ì˜í¬  ì˜ì–´     95
5  ë°•ì§€ë¯¼  ì˜ì–´     88
6  ê¹€ì² ìˆ˜  ê³¼í•™     82
7  ì´ì˜í¬  ê³¼í•™     90
8  ë°•ì§€ë¯¼  ê³¼í•™     75
------------------------------

In [ ]:
import pandas as pd

# âœï¸ ì›ë³¸ ë°ì´í„°í”„ë ˆì„ (ë‹¤ì‹œ í•œë²ˆ ìƒê¸°!)
data = {
    'í•™ìƒ': ['ê¹€ì² ìˆ˜', 'ì´ì˜í¬', 'ë°•ì§€ë¯¼'],
    'ìˆ˜í•™': [90, 85, 92],
    'ì˜ì–´': [78, 95, 88],
    'ê³¼í•™': [82, 90, 75]
}
df = pd.DataFrame(data)

print("--- ì›ë³¸ ë°ì´í„°í”„ë ˆì„ ---")
print(df)
print("-" * 25)

# âœï¸ melt() ë©”ì„œë“œë¥¼ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°ë¥¼ ë³€í˜•í•©ë‹ˆë‹¤.
# id_vars: 'í•™ìƒ' ì—´ì€ ê³ ì •í•©ë‹ˆë‹¤.
# var_name: ìƒˆë¡œìš´ ì—´ 'ê³¼ëª©'ì—ëŠ” ì›ë˜ 'ìˆ˜í•™', 'ì˜ì–´', 'ê³¼í•™' ê°™ì€ ê³¼ëª© ì´ë¦„ë“¤ì´ ë“¤ì–´ê°‘ë‹ˆë‹¤.
# value_name: ìƒˆë¡œìš´ ì—´ 'ì ìˆ˜'ì—ëŠ” ê° ê³¼ëª©ì— í•´ë‹¹í•˜ëŠ” ì‹¤ì œ ì ìˆ˜ë“¤ì´ ë“¤ì–´ê°‘ë‹ˆë‹¤.
df_melted = df.melt(id_vars=['í•™ìƒ'], var_name='ê³¼ëª©')

print("\n--- melt() í›„ ë³€í˜•ëœ ë°ì´í„°í”„ë ˆì„ ---")
print(df_melted)
print("-" * 30)

# ğŸ’¡ ì—¬ê¸°ì„œ!
# var_name='ê³¼ëª©': ìƒˆë¡œ ìƒê¸´ 'ê³¼ëª©' ì—´ì€ 'ìˆ˜í•™', 'ì˜ì–´', 'ê³¼í•™'ì´ë¼ëŠ” "ë³€ìˆ˜ì˜ ì¢…ë¥˜"ë¥¼ ë‹´ê³  ìˆìŠµë‹ˆë‹¤.
# value_name='ì ìˆ˜': ìƒˆë¡œ ìƒê¸´ 'ì ìˆ˜' ì—´ì€ 90, 85, 92ì™€ ê°™ì€ "ì‹¤ì œ ê°’"ì„ ë‹´ê³  ìˆìŠµë‹ˆë‹¤.

# 'ê³¼ëª©' ì—´ì˜ ê°’('ìˆ˜í•™', 'ì˜ì–´', 'ê³¼í•™')ì´ 'ì ìˆ˜' ì—´ì˜ ê°’(90, 85, 92)ê³¼ ê°™ì§€ ì•Šì£ ?
# ì„œë¡œ ë‹¤ë¥¸ ì˜ë¯¸ì™€ ì—­í• ì„ í•˜ëŠ” ë³„ê°œì˜ ì—´ì¸ ê²ƒì„ ì•Œ ìˆ˜ ìˆì–´ìš”!

--- ì›ë³¸ ë°ì´í„°í”„ë ˆì„ ---
    í•™ìƒ  ìˆ˜í•™  ì˜ì–´  ê³¼í•™
0  ê¹€ì² ìˆ˜  90  78  82
1  ì´ì˜í¬  85  95  90
2  ë°•ì§€ë¯¼  92  88  75
-------------------------

--- melt() í›„ ë³€í˜•ëœ ë°ì´í„°í”„ë ˆì„ ---
   variable value
0        í•™ìƒ   ê¹€ì² ìˆ˜
1        í•™ìƒ   ì´ì˜í¬
2        í•™ìƒ   ë°•ì§€ë¯¼
3        ìˆ˜í•™    90
4        ìˆ˜í•™    85
5        ìˆ˜í•™    92
6        ì˜ì–´    78
7        ì˜ì–´    95
8        ì˜ì–´    88
9        ê³¼í•™    82
10       ê³¼í•™    90
11       ê³¼í•™    75
------------------------------

In [5]:
import pandas as pd

# âœï¸ ì›ë³¸ ë°ì´í„°í”„ë ˆì„
data = {
    'í•™ìƒ': ['ê¹€ì² ìˆ˜', 'ì´ì˜í¬', 'ë°•ì§€ë¯¼'],
    'ìˆ˜í•™': [90, 85, 92],
    'ì˜ì–´': [78, 95, 88],
    'ê³¼í•™': [82, 90, 75]
}
df = pd.DataFrame(data)

print("--- ì›ë³¸ ë°ì´í„°í”„ë ˆì„ ---")
print(df)
print("-" * 25)

# âœï¸ melt() ë©”ì„œë“œë¥¼ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°ë¥¼ ë³€í˜•í•©ë‹ˆë‹¤.
# id_vars: 'í•™ìƒ' ì—´ì€ ê³ ì •í•©ë‹ˆë‹¤.
# value_vars: 'ìˆ˜í•™'ê³¼ 'ì˜ì–´' ì—´ë§Œ ì„ íƒí•˜ì—¬ melt í•©ë‹ˆë‹¤. 'ê³¼í•™' ì—´ì€ ì œì™¸ë©ë‹ˆë‹¤.
# var_name: ìƒˆë¡œìš´ ì—´ 'ê³¼ëª©'ì—ëŠ” ì›ë˜ 'ìˆ˜í•™', 'ì˜ì–´' ê°™ì€ ê³¼ëª© ì´ë¦„ë“¤ì´ ë“¤ì–´ê°‘ë‹ˆë‹¤.
# value_name: ìƒˆë¡œìš´ ì—´ 'ì ìˆ˜'ì—ëŠ” ê° ê³¼ëª©ì— í•´ë‹¹í•˜ëŠ” ì‹¤ì œ ì ìˆ˜ë“¤ì´ ë“¤ì–´ê°‘ë‹ˆë‹¤.
df_melted_specific = df.melt(id_vars=['í•™ìƒ'], 
                              value_vars=['ìˆ˜í•™', 'ì˜ì–´'], 
                              var_name='ê³¼ëª©', 
                              value_name='ì ìˆ˜')

print("\n--- value_vars ì§€ì • í›„ ë³€í˜•ëœ ë°ì´í„°í”„ë ˆì„ (ìˆ˜í•™, ì˜ì–´ë§Œ í¬í•¨) ---")
print(df_melted_specific)
print("-" * 60)

# ê° ì¤„ì´ ì–´ë–¤ ì—­í• ì„ í•˜ëŠ”ì§€ ì„¤ëª…:
# import pandas as pd: Pandas ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤.
# data = {...}: í•™ìƒë“¤ì˜ ê³¼ëª©ë³„ ì ìˆ˜ ë°ì´í„°ë¥¼ ë”•ì…”ë„ˆë¦¬ë¡œ ë§Œë“­ë‹ˆë‹¤.
# df = pd.DataFrame(data): ë”•ì…”ë„ˆë¦¬ë¥¼ Pandas ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜í•©ë‹ˆë‹¤.
# print(df): ë³€í˜• ì „ì˜ ì›ë³¸ ë°ì´í„°í”„ë ˆì„ì„ ì¶œë ¥í•©ë‹ˆë‹¤.
# df_melted_specific = df.melt(...): melt() ë©”ì„œë“œë¥¼ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°í”„ë ˆì„ì„ ë³€í˜•í•©ë‹ˆë‹¤.
#   id_vars=['í•™ìƒ']: 'í•™ìƒ' ì—´ì€ ê·¸ëŒ€ë¡œ ë‘¡ë‹ˆë‹¤.
#   value_vars=['ìˆ˜í•™', 'ì˜ì–´']: ì´ ë¶€ë¶„ì´ í•µì‹¬! 'ìˆ˜í•™'ê³¼ 'ì˜ì–´' ì—´ë§Œ melt ëŒ€ìƒì´ ë©ë‹ˆë‹¤. 'ê³¼í•™'ì€ ì œì™¸ë¼ìš”.
#   var_name='ê³¼ëª©': ìƒˆë¡œ ë§Œë“¤ì–´ì§ˆ ê³¼ëª© ì´ë¦„ì„ ë‹´ëŠ” ì—´ì˜ ì´ë¦„ì„ 'ê³¼ëª©'ìœ¼ë¡œ ì§€ì •í•©ë‹ˆë‹¤.
#   value_name='ì ìˆ˜': ìƒˆë¡œ ë§Œë“¤ì–´ì§ˆ ì ìˆ˜ ê°’ì„ ë‹´ëŠ” ì—´ì˜ ì´ë¦„ì„ 'ì ìˆ˜'ë¡œ ì§€ì •í•©ë‹ˆë‹¤.
# print(df_melted_specific): melt() í›„ ë³€í˜•ëœ ë°ì´í„°í”„ë ˆì„ì„ ì¶œë ¥í•©ë‹ˆë‹¤.

--- ì›ë³¸ ë°ì´í„°í”„ë ˆì„ ---
    í•™ìƒ  ìˆ˜í•™  ì˜ì–´  ê³¼í•™
0  ê¹€ì² ìˆ˜  90  78  82
1  ì´ì˜í¬  85  95  90
2  ë°•ì§€ë¯¼  92  88  75
-------------------------

--- value_vars ì§€ì • í›„ ë³€í˜•ëœ ë°ì´í„°í”„ë ˆì„ (ìˆ˜í•™, ì˜ì–´ë§Œ í¬í•¨) ---
    í•™ìƒ  ê³¼ëª©  ì ìˆ˜
0  ê¹€ì² ìˆ˜  ìˆ˜í•™  90
1  ì´ì˜í¬  ìˆ˜í•™  85
2  ë°•ì§€ë¯¼  ìˆ˜í•™  92
3  ê¹€ì² ìˆ˜  ì˜ì–´  78
4  ì´ì˜í¬  ì˜ì–´  95
5  ë°•ì§€ë¯¼  ì˜ì–´  88
------------------------------------------------------------

In [6]:
import pandas as pd

# âœï¸ ì›ë³¸ ë°ì´í„°í”„ë ˆì„ ìƒì„±
data = {
    'í•™ìƒ': ['ê¹€ì² ìˆ˜', 'ì´ì˜í¬'],
    'ë°˜': ['1ë°˜', '2ë°˜'],
    'ìˆ˜í•™': [90, 85],
    'ì˜ì–´': [78, 95],
    'ê³¼í•™': [82, 90],
    'êµ­ì–´': [88, 80] # ìƒˆë¡œìš´ ê³¼ëª© ì¶”ê°€
}
df = pd.DataFrame(data)

print("--- ì›ë³¸ ë°ì´í„°í”„ë ˆì„ ---")
print(df)
print("-" * 30)

# âœï¸ melt() ë©”ì„œë“œì™€ ëª¨ë“  ì£¼ìš” ì¸ì ì‚¬ìš© ì˜ˆì‹œ
# id_vars: 'í•™ìƒ'ê³¼ 'ë°˜' ì—´ì€ ê³ ì • (ìƒˆë¡œìš´ ë°ì´í„°í”„ë ˆì„ì—ì„œë„ ê·¸ëŒ€ë¡œ ìœ ì§€)
# value_vars: 'ìˆ˜í•™'ê³¼ 'ì˜ì–´' ì ìˆ˜ë§Œ ë³€í˜• ëŒ€ìƒ (ê³¼í•™, êµ­ì–´ëŠ” ì œì™¸)
# var_name: ìƒˆë¡œìš´ 'ê³¼ëª©' ì—´ì˜ ì´ë¦„ (ìˆ˜í•™, ì˜ì–´ ë“±ì˜ ì›ë˜ ì—´ ì´ë¦„ì´ ë“¤ì–´ê°ˆ ê³³)
# value_name: ìƒˆë¡œìš´ 'ì ìˆ˜' ì—´ì˜ ì´ë¦„ (90, 78 ë“±ì˜ ì‹¤ì œ ì ìˆ˜ ê°’ì´ ë“¤ì–´ê°ˆ ê³³)
df_melted_all_params = df.melt(id_vars=['í•™ìƒ', 'ë°˜'],       # ê³ ì •í•  ì—´ ì§€ì •
                                value_vars=['ìˆ˜í•™', 'ì˜ì–´'],   # ë³€í˜•í•  ê°’ ì—´ ì§€ì •
                                var_name='ê³¼ëª©',             # ì›ë˜ ì—´ ì´ë¦„ì´ ëª¨ì¼ ìƒˆ ì—´ì˜ ì´ë¦„
                                value_name='ì ìˆ˜')           # ì›ë˜ ê°’ë“¤ì´ ëª¨ì¼ ìƒˆ ì—´ì˜ ì´ë¦„

print("\n--- melt() ëª¨ë“  ì¸ì ì ìš© í›„ ë°ì´í„°í”„ë ˆì„ ---")
print(df_melted_all_params)
print("-" * 50)

# ğŸ’¡ ê° ì¸ìì˜ ì—­í•  ë³µìŠµ:
# df.melt(...): ë°ì´í„°í”„ë ˆì„ì„ ê¸´ í˜•ì‹ìœ¼ë¡œ ë³€í˜•í•˜ëŠ” í•¨ìˆ˜ í˜¸ì¶œ
# id_vars=['í•™ìƒ', 'ë°˜']: 'í•™ìƒ'ê³¼ 'ë°˜' ì—´ì€ ê° í–‰ì˜ ê³ ìœ  IDì²˜ëŸ¼ ê·¸ëŒ€ë¡œ ìœ ì§€ë©ë‹ˆë‹¤.
# value_vars=['ìˆ˜í•™', 'ì˜ì–´']: 'ìˆ˜í•™'ê³¼ 'ì˜ì–´' ì—´ì˜ ê°’ë“¤ë§Œ 'ì ìˆ˜' ì—´ë¡œ ë‚´ë ¤ì˜¤ê³ ,
#                              'ìˆ˜í•™', 'ì˜ì–´'ë¼ëŠ” ì—´ ì´ë¦„ì€ 'ê³¼ëª©' ì—´ë¡œ ë‚´ë ¤ì˜µë‹ˆë‹¤.
#                              ('ê³¼í•™', 'êµ­ì–´' ì—´ì€ ë³€í˜•ë˜ì§€ ì•Šê³  ì‚¬ë¼ì§‘ë‹ˆë‹¤.)
# var_name='ê³¼ëª©': ìƒˆë¡œ ìƒì„±ëœ ì—´ ì¤‘, ì›ë˜ì˜ 'ìˆ˜í•™', 'ì˜ì–´' ê°™ì€ ê³¼ëª© ì´ë¦„ë“¤ì´ ë“¤ì–´ê°€ëŠ” ì—´ì˜ ì´ë¦„ì´ 'ê³¼ëª©'ì´ ë©ë‹ˆë‹¤.
# value_name='ì ìˆ˜': ìƒˆë¡œ ìƒì„±ëœ ì—´ ì¤‘, ì›ë˜ì˜ 90, 78 ê°™ì€ ì‹¤ì œ ì ìˆ˜ ê°’ë“¤ì´ ë“¤ì–´ê°€ëŠ” ì—´ì˜ ì´ë¦„ì´ 'ì ìˆ˜'ê°€ ë©ë‹ˆë‹¤.

--- ì›ë³¸ ë°ì´í„°í”„ë ˆì„ ---
    í•™ìƒ   ë°˜  ìˆ˜í•™  ì˜ì–´  ê³¼í•™  êµ­ì–´
0  ê¹€ì² ìˆ˜  1ë°˜  90  78  82  88
1  ì´ì˜í¬  2ë°˜  85  95  90  80
------------------------------

--- melt() ëª¨ë“  ì¸ì ì ìš© í›„ ë°ì´í„°í”„ë ˆì„ ---
    í•™ìƒ   ë°˜  ê³¼ëª©  ì ìˆ˜
0  ê¹€ì² ìˆ˜  1ë°˜  ìˆ˜í•™  90
1  ì´ì˜í¬  2ë°˜  ìˆ˜í•™  85
2  ê¹€ì² ìˆ˜  1ë°˜  ì˜ì–´  78
3  ì´ì˜í¬  2ë°˜  ì˜ì–´  95
--------------------------------------------------

# concat
## join = inner, outer

In [7]:
import pandas as pd

# âœï¸ ì²« ë²ˆì§¸ ë°ì´í„°í”„ë ˆì„ (df1)
data1 = {
    'ì´ë¦„': ['ì² ìˆ˜', 'ì˜í¬', 'ë¯¼ìˆ˜'],
    'ì ìˆ˜': [90, 85, 92]
}
df1 = pd.DataFrame(data1, index=['í•™ìƒA', 'í•™ìƒB', 'í•™ìƒC']) # ì¸ë±ìŠ¤ ì§€ì •
print("--- df1 (ì²« ë²ˆì§¸ ë°ì´í„°í”„ë ˆì„) ---")
print(df1)
print("-" * 30)

# âœï¸ ë‘ ë²ˆì§¸ ë°ì´í„°í”„ë ˆì„ (df2)
# 'ë¯¼ìˆ˜'ëŠ” ì—†ê³  'ì§€ë¯¼'ì´ ì¶”ê°€ë˜ì—ˆìœ¼ë©°, ì¸ë±ìŠ¤ë„ ë‹¤ë¥´ê²Œ ì„¤ì •
data2 = {
    'ì´ë¦„': ['ì˜í¬', 'ì§€ë¯¼', 'ê¸¸ë™'],
    'ê³¼ëª©': ['ì˜ì–´', 'ìˆ˜í•™', 'ê³¼í•™']
}
df2 = pd.DataFrame(data2, index=['í•™ìƒB', 'í•™ìƒD', 'í•™ìƒE']) # ì¸ë±ìŠ¤ ì§€ì •
print("\n--- df2 (ë‘ ë²ˆì§¸ ë°ì´í„°í”„ë ˆì„) ---")
print(df2)
print("-" * 30)

# ----------------------------------------------------
# âœï¸ pd.concat() with join='outer' (ê¸°ë³¸ê°’)
# ë‘ ë°ì´í„°í”„ë ˆì„ì„ ìœ„ì•„ë˜ë¡œ í•©ì¹©ë‹ˆë‹¤. (axis=0)
# join='outer'ëŠ” ëª¨ë“  ì¸ë±ìŠ¤ë¥¼ í¬í•¨í•©ë‹ˆë‹¤.
df_outer = pd.concat([df1, df2], join='outer', axis=0) # axis=0ì€ í–‰ ë°©í–¥ìœ¼ë¡œ í•©ì¹œë‹¤ëŠ” ì˜ë¯¸
print("\n--- concat() with join='outer' (ëª¨ë“  ì¸ë±ìŠ¤ í¬í•¨) ---")
print(df_outer)
print("-" * 50)
# ì„¤ëª…: 'í•™ìƒA', 'í•™ìƒC', 'í•™ìƒD', 'í•™ìƒE'ëŠ” í•œìª½ì—ë§Œ ìˆëŠ” ì¸ë±ìŠ¤ì¸ë°ë„ ê²°ê³¼ì— í¬í•¨ë˜ì—ˆê³ ,
#       í•´ë‹¹í•˜ëŠ” ë°ì´í„°ê°€ ì—†ëŠ” ê³³ì€ NaNìœ¼ë¡œ ì±„ì›Œì§„ ê²ƒì„ ë³¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

# ----------------------------------------------------
# âœï¸ pd.concat() with join='inner'
# ë‘ ë°ì´í„°í”„ë ˆì„ì„ ìœ„ì•„ë˜ë¡œ í•©ì¹©ë‹ˆë‹¤. (axis=0)
# join='inner'ëŠ” ê³µí†µëœ ì¸ë±ìŠ¤ë§Œ í¬í•¨í•©ë‹ˆë‹¤.
df_inner = pd.concat([df1, df2], join='inner', axis=0) # axis=0ì€ í–‰ ë°©í–¥ìœ¼ë¡œ í•©ì¹œë‹¤ëŠ” ì˜ë¯¸
print("\n--- concat() with join='inner' (ê³µí†µ ì¸ë±ìŠ¤ë§Œ í¬í•¨) ---")
print(df_inner)
print("-" * 50)
# ì„¤ëª…: 'í•™ìƒA', 'í•™ìƒC', 'í•™ìƒD', 'í•™ìƒE'ëŠ” í•œìª½ì—ë§Œ ìˆì–´ì„œ ê²°ê³¼ì—ì„œ ì œì™¸ë˜ì—ˆê³ ,
#       ì˜¤ì§ 'í•™ìƒB' ì¸ë±ìŠ¤ë§Œ ë‘ ë°ì´í„°í”„ë ˆì„ì— ê³µí†µìœ¼ë¡œ ì¡´ì¬í•˜ë¯€ë¡œ 'í•™ìƒB' í–‰ë§Œ ë‚¨ì•˜ìŠµë‹ˆë‹¤.
#       ì—´(column) ê¸°ì¤€ìœ¼ë¡œë„ ê³µí†µëœ 'ì´ë¦„' ì—´ë§Œ ë‚¨ì€ ê²ƒì„ ë³¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤. (ì ìˆ˜, ê³¼ëª© ì—´ì€ í•œìª½ì—ë§Œ ìˆì–´ì„œ ì œì™¸)

# ê° ì¤„ì´ ì–´ë–¤ ì—­í• ì„ í•˜ëŠ”ì§€ ì„¤ëª…:
# import pandas as pd: Pandas ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤.
# data1, df1: ì²« ë²ˆì§¸ ë°ì´í„°í”„ë ˆì„ì„ ìƒì„±í•©ë‹ˆë‹¤. ì´ë•Œ indexë¥¼ ëª…ì‹œì ìœ¼ë¡œ ì§€ì •í•©ë‹ˆë‹¤.
# data2, df2: ë‘ ë²ˆì§¸ ë°ì´í„°í”„ë ˆì„ì„ ìƒì„±í•©ë‹ˆë‹¤. df1ê³¼ ë‹¤ë¥¸ ì¸ë±ìŠ¤ì™€ ì—´ì„ ê°€ì§‘ë‹ˆë‹¤.
# print(df1), print(df2): ì›ë³¸ ë°ì´í„°í”„ë ˆì„ë“¤ì„ ì¶œë ¥í•˜ì—¬ êµ¬ì¡°ë¥¼ í™•ì¸í•©ë‹ˆë‹¤.
# pd.concat([df1, df2], join='outer', axis=0): df1ê³¼ df2ë¥¼ í–‰ ë°©í–¥(axis=0)ìœ¼ë¡œ í•©ì¹˜ëŠ”ë°,
#   join='outer' ì˜µì…˜ì„ ì‚¬ìš©í•˜ì—¬ ë‘ ë°ì´í„°í”„ë ˆì„ì˜ ëª¨ë“  ì¸ë±ìŠ¤ì™€ ì—´ì„ í¬í•¨í•©ë‹ˆë‹¤.
# pd.concat([df1, df2], join='inner', axis=0): df1ê³¼ df2ë¥¼ í–‰ ë°©í–¥(axis=0)ìœ¼ë¡œ í•©ì¹˜ëŠ”ë°,
#   join='inner' ì˜µì…˜ì„ ì‚¬ìš©í•˜ì—¬ ë‘ ë°ì´í„°í”„ë ˆì„ì— ê³µí†µìœ¼ë¡œ ì¡´ì¬í•˜ëŠ” ì¸ë±ìŠ¤ì™€ ì—´ë§Œ í¬í•¨í•©ë‹ˆë‹¤.

--- df1 (ì²« ë²ˆì§¸ ë°ì´í„°í”„ë ˆì„) ---
     ì´ë¦„  ì ìˆ˜
í•™ìƒA  ì² ìˆ˜  90
í•™ìƒB  ì˜í¬  85
í•™ìƒC  ë¯¼ìˆ˜  92
------------------------------

--- df2 (ë‘ ë²ˆì§¸ ë°ì´í„°í”„ë ˆì„) ---
     ì´ë¦„  ê³¼ëª©
í•™ìƒB  ì˜í¬  ì˜ì–´
í•™ìƒD  ì§€ë¯¼  ìˆ˜í•™
í•™ìƒE  ê¸¸ë™  ê³¼í•™
------------------------------

--- concat() with join='outer' (ëª¨ë“  ì¸ë±ìŠ¤ í¬í•¨) ---
     ì´ë¦„    ì ìˆ˜   ê³¼ëª©
í•™ìƒA  ì² ìˆ˜  90.0  NaN
í•™ìƒB  ì˜í¬  85.0  NaN
í•™ìƒC  ë¯¼ìˆ˜  92.0  NaN
í•™ìƒB  ì˜í¬   NaN   ì˜ì–´
í•™ìƒD  ì§€ë¯¼   NaN   ìˆ˜í•™
í•™ìƒE  ê¸¸ë™   NaN   ê³¼í•™
--------------------------------------------------

--- concat() with join='inner' (ê³µí†µ ì¸ë±ìŠ¤ë§Œ í¬í•¨) ---
     ì´ë¦„
í•™ìƒA  ì² ìˆ˜
í•™ìƒB  ì˜í¬
í•™ìƒC  ë¯¼ìˆ˜
í•™ìƒB  ì˜í¬
í•™ìƒD  ì§€ë¯¼
í•™ìƒE  ê¸¸ë™
--------------------------------------------------

In [ ]:
,2007,2008,2009,2010,2011
China,7.71,7.95,11.96,15.84,16.33
EU,19.02,17.71,15,16.7,17.48
US,10.47,8.45,5.58,7.6,8.4
Japan,10.87,10.83,7.55,9.09,7.88
Korea,4.04,3.78,3.45,4.2,4.62
Mexico,2.01,2.05,1.5,2.25,2.54

In [3]:
import pandas as pd

file_path = 'data.csv'

# CSV íŒŒì¼ì„ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤. ì´ë•Œ, ì²« ë²ˆì§¸ ì»¬ëŸ¼ì´ ì¸ë±ìŠ¤ê°€ ì•„ë‹ˆë¼ ì¼ë°˜ ë°ì´í„° ì»¬ëŸ¼ìœ¼ë¡œ ì¸ì‹ë˜ë„ë¡
# index_col=0 ì˜µì…˜ì„ ì£¼ì§€ ì•Šê³  ë¶ˆëŸ¬ì˜µë‹ˆë‹¤. ê·¸ëŸ¬ë©´ 'Unnamed: 0' ì»¬ëŸ¼ì´ ìƒì„±ë  ê±°ì˜ˆìš”.
df = pd.read_csv('./data/vehicle_prod.csv')

print("--- ì›ë³¸ ë°ì´í„°í”„ë ˆì„ (Unnamed: 0 ì»¬ëŸ¼ í¬í•¨) ---")
print(df)
print("-" * 40) # êµ¬ë¶„ì„  ì¶œë ¥

# 'Unnamed: 0' ì»¬ëŸ¼ì˜ ì´ë¦„ì„ 'Country'ë¡œ ë³€ê²½í•©ë‹ˆë‹¤.
# columns ë§¤ê°œë³€ìˆ˜ì— ë”•ì…”ë„ˆë¦¬ í˜•íƒœë¡œ 'ì´ì „_ì´ë¦„': 'ìƒˆë¡œìš´_ì´ë¦„'ì„ ì „ë‹¬í•©ë‹ˆë‹¤.
# inplace=Trueë¥¼ ì‚¬ìš©í•˜ì—¬ ì›ë³¸ ë°ì´í„°í”„ë ˆì„ì„ ì§ì ‘ ìˆ˜ì •í•©ë‹ˆë‹¤.
df.rename(columns={'Unnamed: 0': 'Country'}, inplace=True)

print("\n--- 'Unnamed: 0' ì»¬ëŸ¼ ì´ë¦„ ë³€ê²½ í›„ ('Country'ë¡œ) ---")
print(df)
print("-" * 40) # êµ¬ë¶„ì„  ì¶œë ¥

# ë§Œì•½ 'Unnamed: 0' ì»¬ëŸ¼ì´ ì‹¤ì œ ì¸ë±ìŠ¤ì˜€ë‹¤ë©´,
# ë‹¤ì‹œ Country ì»¬ëŸ¼ì„ ì¸ë±ìŠ¤ë¡œ ì„¤ì •í•  ìˆ˜ë„ ìˆìŠµë‹ˆë‹¤.
# df.set_index('Country', inplace=True)
# print("\n--- 'Country' ì»¬ëŸ¼ì„ ì¸ë±ìŠ¤ë¡œ ì„¤ì • í›„ ---")
# print(df)
# print("-" * 40)

--- ì›ë³¸ ë°ì´í„°í”„ë ˆì„ (Unnamed: 0 ì»¬ëŸ¼ í¬í•¨) ---
  Unnamed: 0   2007   2008   2009   2010   2011
0      China   7.71   7.95  11.96  15.84  16.33
1         EU  19.02  17.71  15.00  16.70  17.48
2         US  10.47   8.45   5.58   7.60   8.40
3      Japan  10.87  10.83   7.55   9.09   7.88
4      Korea   4.04   3.78   3.45   4.20   4.62
5     Mexico   2.01   2.05   1.50   2.25   2.54
----------------------------------------

--- 'Unnamed: 0' ì»¬ëŸ¼ ì´ë¦„ ë³€ê²½ í›„ ('Country'ë¡œ) ---
  Country   2007   2008   2009   2010   2011
0   China   7.71   7.95  11.96  15.84  16.33
1      EU  19.02  17.71  15.00  16.70  17.48
2      US  10.47   8.45   5.58   7.60   8.40
3   Japan  10.87  10.83   7.55   9.09   7.88
4   Korea   4.04   3.78   3.45   4.20   4.62
5  Mexico   2.01   2.05   1.50   2.25   2.54
----------------------------------------

In [4]:
import pandas as pd

# ì˜ˆì‹œìš© ë°ì´í„°í”„ë ˆì„ ìƒì„±
df = pd.DataFrame({
    'ì´ë¦„': ['ì² ìˆ˜', 'ì˜í¬', 'ë¯¼ìˆ˜', 'ì§€ì˜', 'ìˆ˜ì§„', 'ì§€í›ˆ', 'ë¯¸ë‚˜', 'í˜„ìš°', 'ì„œì—°', 'ë‹¤ì€', 'ì§€í˜¸', 'ì€ìš°'],
    'ë‚˜ì´': [23, 25, 22, 24, 26, 21, 23, 25, 24, 22, 26, 23],
    'ì ìˆ˜': [85, 90, 88, 92, 77, 81, 95, 89, 84, 91, 78, 86]
})

# ìƒ˜í”Œë§: 10ê°œ ëœë¤ ì„ íƒ
sample_df = df.sample(n=10, random_state=42)

# ê²°ê³¼ ì¶œë ¥
print(sample_df)

    ì´ë¦„  ë‚˜ì´  ì ìˆ˜
10  ì§€í˜¸  26  78
9   ë‹¤ì€  22  91
0   ì² ìˆ˜  23  85
8   ì„œì—°  24  84
5   ì§€í›ˆ  21  81
2   ë¯¼ìˆ˜  22  88
1   ì˜í¬  25  90
11  ì€ìš°  23  86
4   ìˆ˜ì§„  26  77
7   í˜„ìš°  25  89