## 들어가기 : 주석

# 표준 입력과 표준 출력

## 입력

In [4]:
12345
10
# ipython 라이브러리의 기본 기능
# print(12345) 표준출력 니응을 내장하고 있다.

10

In [3]:
print(12345)
10

12345

10

In [15]:
type('12345') #문자열 ' '

str

In [14]:
type("12345") #문자열 " "

str

In [13]:
"12345" * 3 #문자열에  *(곱하기) 는 된다. [문자열을 3번 출력해라]

'123451234512345'

In [7]:
type(12345)

int

In [16]:
# '12345'+10 => TYPE ERROR

## 출력

In [22]:
name = input("당신의 이름을 입력하세요")
name

당신의 이름을 입력하세요 장승원

'장승원'

In [31]:
age = input("당신의 나이를 입력하세요")
age

당신의 나이를 입력하세요 24

'24'

In [23]:
name

'장승원'

In [32]:
age, name

('24', '장승원')

In [33]:
print("나는 ",name,"이고 나이는 ",age,"입니다")
print("나는 "+name+"이고 나이는 "+age+"입니다")

나는  장승원 이고 나이는  24 입니다
나는 장승원이고 나이는 24입니다

In [34]:
# age + 10 #type ERROR

input으로 받는 값은 무조건 문자열이다

In [35]:
int(age)

24

In [38]:
int(age) + 10 # age + 10 은 여전히 안된다. int(age)를 했다 해도 위에서는 age의 값을 int값으로 출력만 해준 것이기 때문

34

In [48]:
#자기 이름으로 삼행시 짓기

print("장 : 장승원 ")
print("승 : 승원장 ")
print("원 : 원승장 ")

장 : 장승원
승 : 승원장
원 : 원승장

In [49]:
first = input("장 :")
second = input("승 :")
third = input("원 :")

print(first,second,third, sep="!") #각 쉽표 매개변수와 매개변수 사이를 separator로 변환한다.

장 : 장승원
승 : 승원장
원 : 원승장

장승원!승원장!원승장

In [52]:
print(first, second, third, sep="\n") # \n : 줄바꿈 기호, <br>느낌 # /아니라 역슬레시 \

장승원
승원장
원승장

# 변수

변수 type safe : 변수를 선언할 때 타입(유형)을 지정하지 않아도 되는 특성<br>
변수명 = 값<br>
## 변수의 명명규칙 
1.문자, 숫자, 밑줄을 가지고 만든다<br>
2. 숫자로 시작하면 X<br>
3. 대소문자를 구분한다<br>
4. 예약어, 특수문자, 공백 X

In [60]:
x = 10
y = "hello"
z = 3.141592

x,y,z

type(x),type(y),type(z)

(int, str, float)

In [61]:
print(type(x),type(y),type(z))

<class 'int'> <class 'str'> <class 'float'>

In [65]:
a, b, c = 10, 20, 30
a, b, c

(10, 20, 30)

In [64]:
a = 10
b = 20
c = 30
a, b, c

(10, 20, 30)

In [67]:
a = b = c = 40
a, b, c

(40, 40, 40)

In [77]:
d = True #bool형
e = None #type이 없음 : NoneType
d, e

(True, None)

In [9]:
aa = 10
bb= aa
print(aa, bb)
id(aa), id(bb)

10 10

(140706064181976, 140706064181976)

In [11]:
aa = 30
print(aa, bb)
id(aa), id(bb)

30 10

(140706064182616, 140706064181976)

In [13]:
#의미를 부여 하기 어려운 변수명 
x = 100
y = 100

#의미있는 변수명
age = 20
name = "Jangseungwon"
user_name = "JSW"
admin_Name = "JSWW"

#대문자 Upper-case 상수에 사용
PI = 3.141592
MAX_VALUE = 10 #최대값
MIN_VALUE = 0 #최솟값

## NAME_SPACE
변수가 최로로 정의된 영역에 따라 유효범위가 결정됩니다.    
- 지역변수 : 함수 영역 내에서 선언한 변수
- 전역변수 : 함수 영역 밖에서 선언한 변수, global 키워드 사용
- 정적변수 : 클래스에서 사용하는 변수

In [26]:
# 지역 변수
def local_example():
    local_var = 100
    print("여기는 함수의 영역입니다", local_var)
 
# local_var #NameError: name 'local_var' is not defined
local_example()

여기는 함수의 영역입니다 100

In [28]:
# 전역 변수
global_var = "나는 전역이다"
print(global_var)

def global_example():
    local_var = 100
    print("여기는 함수의 영역입니다", local_var, global_var)
global_example()

나는 전역이다
여기는 함수의 영역입니다 100 나는 전역이다

## global

In [34]:
var_test = "나는 전역이다"
print(var_test)

def global_example():
    # global var_test = 100 <= 틀린 표현 #선언과 할당을 같이 할 수 없다 
    global var_test
    print("여기는 함수의 영역입니다", var_test)

global_example()
print(var_test)
# global 함수 앞에 붙이면 함수 밖에서 불러와라 의미

나는 전역이다
여기는 함수의 영역입니다 나는 전역이다
나는 전역이다

In [48]:
# 변수 영역 연습
counter = 0  #global

def increment_counter():
    #counter = counter + 1
    global counter #갖고 오기
    counter += 1
    print("카운터 :", counter)

increment_counter()
increment_counter()

카운터 : 1
카운터 : 2

# 교재 변수연습

In [51]:
a = [1, 2, 3]
b = a

id(a), id(b)

(3077941402240, 3077941402240)

In [56]:
a = [1 ,3, 5]
b = a[:]
a[2] = 4
a, b

([1, 3, 4], [1, 3, 5])

# 초보자를 위한 파이썬 300제

In [68]:
#1
print("Hello World")

Hello World

In [69]:
#2
print("Mary's cosmetic")

Mary's cosmetic

In [70]:
#3
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [96]:
#4
print("C:\Windows")

C:\Windows

<>:2: SyntaxWarning: invalid escape sequence '\W'
<>:2: SyntaxWarning: invalid escape sequence '\W'
C:\Users\Admin\AppData\Local\Temp\ipykernel_13164\1801644531.py:2: SyntaxWarning: invalid escape sequence '\W'
  print("C:\Windows")

In [72]:
#5
print("안녕하세요.\n만나서\t\t반갑습니다.")
#\n은 줄바꿈, \t는 tab

안녕하세요.
만나서		반갑습니다.

In [73]:
#6
print("오늘은","일요일")

오늘은 일요일

In [78]:
#7
print("naver","kakao","sk","samsung", sep=";")

naver;kakao;sk;samsung

In [79]:
#8
print("naver","kakao","sk","samsung",sep="/")

naver/kakao/sk/samsung

In [82]:
#9
print("first",end=" ");print("second")

first second

In [86]:
#10
print(5/3)

1.6666666666666667

In [91]:
#11
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [92]:
#11
시가총액 = 2980
현재가 = 50000
PER = 15.79

print(시가총액),print(현재가),print(PER)

2980
50000
15.79

(None, None, None)

# 자료형
-기본자료형: 숫자형, 문자열형 str, 부울형   
-복합자료형: 리스트, 셋, 튜플, 딕셔너리

| type | 설명 | 예 |
|-----|-----|-----|
|정수형(int) | 정수를 저장하는 자료형 | 1, -5, 100|
|실수형 (float)|소수점이 있는 숫자를 저장하는 자료형|3.14, -0.001, 2.0|
|문자열 (str) |텍스트를 저장하는 자료형 |"Hello", '파이썬'|
|논리형 (bool)|참/거짓 값을 저장하는 자료형|True, False|

-수정 불가능한 데이터 타입 : 수치형, 부울형, 문자열, 튜플   
-수정 가능한 데이터 타입 :  리스트, 딕셔너리, 셋

In [100]:
#수치형
20, type(20)

(20, int)

In [101]:
age = 20
type(age)

int

### 진법   
1. 진법 : 10진수, 2진수, 8진수, 16진수   
2. 입력하는 방법은 다르지만, print() 결과는 동일하다.

In [109]:
a = 10
b = 0b0101 #2진수 0,1로 표현하는 방법 => 0b 0101 -> 1+0+4+0 = 5  # 0b b는 2진수
a, b

(10, 5)

In [112]:
c = 0o10 # o는 8진수 옥타곤
d = 0x1B
c, d

(8, 27)

|진수|접두사 |예시|
|-----|-----|-----|
|2진수|0b 또는 0B|0b1010 → 10|
|8진수|0o 또는 0O|0o12 → 10|
|16진수|0x 또는 0X|0xA → 10|

16진수는 1 ~ 9는 숫자, 10 ~ 15는 A, B, C, D, E, F

In [113]:
#float
b= 3.14
type(b)

float

### 지수의 표기    
숫자e2 -> 10^2의 곱 = 10** *2   
숫자e-2 -> 10^-2의 곱 = 10**  -2

In [114]:
fa = 10e2
fa

1000.0

In [115]:
fb = 10e-2
fb

0.1

In [116]:
fc = 3.141592e2
fc

314.1592

### BOOLEAN - True, False   
논리연산, 비교연산

In [144]:
ba  = True
bb = true #true는 변수 [ERROR 이름이 true가 정의되지 않았다]

type(ba), type(bb)

In [124]:
ba == 1  #True == 1 , False == 0

True

In [125]:
# 논리 연산자 and or not
bc = 1
ba and bc

1

In [126]:
#사칙연선 + - * / // %
a = 2 
b = 3

In [131]:
a+b   
a-b   
a*b
a/b, a//b, a%b # /나누기, //몫, %나머지

(0.6666666666666666, 0, 2)

In [137]:
#비교연산자
1+2 == 3 #True
1+2 != 3 #False
1+3 > 3 #True
1+3 < 3 #False
1+3 <= 4 #True

True

In [138]:
#비교연산자와 논리연산자의 결합

10%2 == 0 and 12%3 == 0

True

In [140]:
a = '1234'
b = '5678'
a,b,id(a),id(b)

('1234', '5678', 3077900966272, 3077949443600)

In [141]:
id(a) == id(b)

False

In [145]:
#대입연산자
a = 10
b = a + 2
a,b

(10, 12)

In [147]:
a = 20
a +=1  # a = a + 1
a

21

In [149]:
a = 20 
a -=1 # a = a - 1
a

19

In [154]:
a = 3
b =2 
a+=2 + b 
a

7

# 문자열 str   
' ', " ", """ """, ''' ''' docstring   
인코드 > 코드 > 숫자값 정해져 있다. "코드표"

유니코드 문자 표준
영어는 ascii -> 유니코드
한국어도 유니코드

유니코드가 글자의 크기에 따라 utf-8, [utf-16, utf-32] 디코딩

파이썬의 문자열 str -> unicode 기반이다.

euk-kr <예전에 사용하던 한글 코드>, cp949<예전 ms에서 사용하던 한글코드>

인코딩 사람문자 -> 컴퓨터, 디코딩 컴퓨터 -> 사람

In [2]:
text = "파이썬"

print(ord('파')) #유니코드

54028

In [3]:
#인코딩
enc_text = text.encode("utf-8")
print(enc_text)

b'\xed\x8c\x8c\xec\x9d\xb4\xec\x8d\xac'

In [21]:
#디코딩
dec_text = enc_text.decode("utf-8")
print(dec_text)

파이썬

In [157]:
# +는 문자열끼리
a = "hello "
b = "python"
a + b

'hello python'

In [161]:
# *문자열*숫자
c = "*"
c*10

'**********'

In [163]:
d ="Kim's Family"
e ='"jang" said'
d, e

("Kim's Family", '"jang" said')

In [164]:
#문자열에서 비교연산
e = "1"
e =="1"

True

In [185]:
#문자열은 리스트, 열거형
a ="20250528ABCDE" #13개의 글자의 목록
a[1] #숫자 자리수 > 인덱스

'0'

In [186]:
a[3]

'5'

In [187]:
a[0:4] #4개 가져와!~! #슬라이싱 slice

'2025'

In [188]:
a[4:8]

'0528'

In [189]:
a[:4]

'2025'

In [191]:
a[-4:]

'BCDE'

In [192]:
a[-1:]

'E'

In [196]:
s = "abc"
a =s
a is s

True

In [204]:
b = s[:] #전체 가져와
a is b

True

`'''' docstring    
start \n   
end \n   
'''    
'    
     
""" """

In [50]:
doc_string = """docstring
start
end
"""
doc_string
# print(doc_string)  #docstring도 문자열이다 .!.

'docstring\nstart\nend\n'

In [32]:
type(text)

str

# str 의 함수 < = 메서드
dir() # 뭐 있는지 확인하는 함수

In [6]:
text.__add__("안녕")

'파이썬안녕'

In [8]:
text.count("파")

1

In [33]:
# dir(text)

In [20]:
print("나는 \"escape문자\"라고 말했어") # \사용하면 뒤에 문자라고 알려주는 것

나는 "escape문자"라고 말했어

# R STRING

r "12\4"

In [ ]:
r"12\4"

In [42]:
raw_str_1 =r"hellow\nworld"
print(raw_str_1)

hellow\nworld

# F STRING

f"{수식}문자열이에요{변수}"

In [44]:
name ="seungwon"
age = 25

print("제 이름은", name, "내 나이는", age, "입니다")

제 이름은 seungwon 내 나이는 25 입니다

In [45]:
f_str_1 = f"제 이름은 {name} 내 나이는 {age} 입니다."
f_str_1

'제 이름은 seungwon 내 나이는 25 입니다.'

Type
b

Type

In [37]:
b = 2
c = '3'
b + c #typeError

In [39]:
int(c)
b+ int(c)

5

In [41]:
c = "3a"
# b + int(c) #ValueERROR
b + int(c[:1])

5

# 이름과 자기소개를 입력받아서 출력하는 프로그램 작성

In [47]:
name = input("이름을 입력하세요")
age = input("나이를 입력하세요")

intro = f"제 이름은 {name}이고 나이는 {age}입니다."
print(intro)

이름을 입력하세요 장승원
나이를 입력하세요 27살

제 이름은 장승원이고 나이는 27살입니다.

# 문자열.format string

In [56]:
#dir(f_str_1)
format_str = " {0:4f} {1:s} are worth US$ {2:d}" #template
format_str.format(99.99,"dollors", 100)

' 99.990000 dollors are worth US$ 100'

In [61]:
menu = input("주문할 메뉴를 입력하세요")
price = input("한 개 가격이 얼마인가요")
count = input("몇 개나 주문하세요")

total = int(price)*int(count)
msg = "{}메뉴의 {}개 가격은 총 {}원 입니다"
print(msg.format(menu, count,total))

주문할 메뉴를 입력하세요 치즈버거
한 개 가격이 얼마인가요 2000
몇 개나 주문하세요 2

치즈버거메뉴의 2개 가격은 총 4000원 입니다

In [75]:
menu = input("주문할 메뉴를 입력하세요")
price = int(input("한 개 가격이 얼마인가요"))
count = int(input("몇 개나 주문하세요"))

total = price*count
msg = "{}메뉴의 {}개 가격은 총 {}원 입니다"
print(msg.format(menu, count,total))

주문할 메뉴를 입력하세요 치즈버거
한 개 가격이 얼마인가요 3000
몇 개나 주문하세요 3

치즈버거메뉴의 3개 가격은 총 9000원 입니다

# 리스트

In [74]:
item = [
    {"name": "아메리카노", "price": 3000, "qty": 2},
    {"name": "카페라떼", "price": 4000, "qty": 1},
    {"name": "샌드위치", "price": 5500, "qty": 3}
] 
# {} : 딕셔너리  # [] : 리스트

In [115]:
item = [
    {"name": "아메리카노", "price": 3000, "qty": 2},
    {"name": "카페라떼", "price": 4000, "qty": 1},
    {"name": "샌드위치", "price": 5500, "qty": 3}
] 
header_str = "{0:18}{1:10}{2:10}{3:10}" #{인덱스:데이터길이}
print(header_str.format("상품명","가격", "수량", "총액"))
print("-"*50)

data_str = "{0:10}{1:10,}원{2:10}개{3:10,}원" 

for item in item:
    item_name = item["name"]
    item_price = item["price"]
    item_qty = item["qty"]
    total_price = item_price * item_qty
    print(data_str.format(item_name,item_price,item_qty,total_price))

    ##데이터와 헤더를 나눠서 데이터를 따로 조작할 수 있게 나눴다.

상품명               가격        수량        총액
--------------------------------------------------
아메리카노          3,000원         2개     6,000원
카페라떼           4,000원         1개     4,000원
샌드위치           5,500원         3개    16,500원

# 많이 사용하는 문자열의 method 함수


| 함수                  | 설명                  | 예시                                        |
| ------------------- | ------------------- | ----------------------------------------- |
| `lower()`           | 모두 소문자로 변환          | `"Python".lower()` → `"python"`           |
| `upper()`           | 모두 대문자로 변환          | `"python".upper()` → `"PYTHON"`           |
| `capitalize()`      | 첫 글자만 대문자           | `"hello".capitalize()` → `"Hello"`        |
| `title()`           | 각 단어의 첫 글자 대문자      | `"hello world".title()` → `"Hello World"` |
| `strip()`           | 앞뒤 공백 제거            | `" hello ".strip()` → `"hello"`           |
| `lstrip()`          | 왼쪽 공백 제거            | `" hello".lstrip()`                       |
| `rstrip()`          | 오른쪽 공백 제거           | `"hello ".rstrip()`                       |
| `replace(old, new)` | 문자열 바꾸기             | `"hello".replace("l", "x")` → `"hexxo"`   |
| `split()`           | 문자열 나누기 (기본: 공백)    | `"a b c".split()` → `['a', 'b', 'c']`     |
| `join(list)`        | 리스트를 문자열로 결합        | `" ".join(['a', 'b'])` → `"a b"`          |
| `find(sub)`         | 처음 등장하는 위치 (없으면 -1) | `"apple".find("p")` → `1`                 |
| `index(sub)`        | 처음 등장하는 위치 (없으면 오류) | `"apple".index("p")` → `1`                |
| `count(sub)`        | 부분 문자열 개수           | `"banana".count("a")` → `3`               |
| `startswith(sub)`   | 해당 문자열로 시작?         | `"python".startswith("py")` → `True`      |
| `endswith(sub)`     | 해당 문자열로 끝남?         | `"python".endswith("on")` → `True`        |
| `isalnum()`         | 영문자+숫자인가?           | `"abc123".isalnum()` → `True`             |
| `isalpha()`         | 영문자만인가?             | `"abc".isalpha()` → `True`                |
| `isdigit()`         | 숫자만인가?              | `"123".isdigit()` → `True`                |
| `isspace()`         | 공백문자만 있는가?          | `" \t\n".isspace()` → `True`              |

In [127]:
text = "jang seung won"
text.lower(), text.upper(), text.capitalize(), text.title()

('jang seung won', 'JANG SEUNG WON', 'Jang seung won', 'Jang Seung Won')

In [118]:
text2 = " jang "
text2.strip(), text2.lstrip(), text2.rstrip() # strip는 양쪽 공백을, l은 왼, r은 좌 공백을 없어진다.

('jang', 'jang ', ' jang')

In [129]:
text.replace("n", "X"), text.split(), text.split("n") # n을 기준으로 나눈다 기준이 된 글자는 없어진다.

('jaXg seuXg woX', ['jang', 'seung', 'won'], ['ja', 'g seu', 'g wo', ''])

# 복합자료 리스트   

여러개의 값을 묶어서 하나의 변수로 다루는 자료형   

생성법   
1. [] 대괄호를 사용
2. 데이터는 , 쉼표로 구분
3. [] 빈 대괄호는 초기화
4. 숫자, 문자, 부울, 리스트 같은 객체 모두 담을 수 있다
5. 숫자 index를 가진다. (0 시작)
6. 음수 인덱스도 꺼낼 수 있다.

In [1]:
score = [30, 50, 60, 80, 100]
score[0] #첫번째 학생 점수

30

In [2]:
type(score), type(score[0])  #리스트 안에 들어이는 건 int, score은 list

(list, int)

In [3]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [6]:
list() # list 생성자

[]

In [21]:
ra = range(2,20,2)

In [22]:
num_list = list(ra)

In [23]:
num_list

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [25]:
num_list[-1] # 리스트에 제일 마지막

18

In [26]:
ra.__len__()

9

range(), list() <== function(함수),  ra.__len__() <== Method(메서드)

method 와 function   

1. method : 객체의 한해서 동작하는 함수 => 객체명.함수()
2. function : 함수( 매개변수) => 매개변수로 동작하는 함수

   dir() > function
   list_obj.len() > method

In [39]:
str_1 = "hello" # 문자열
str_1[0] = "H" #Type ERROR --> str IMMUTABLE 문자열 고치기 불가능

TypeError: 'str' object does not support item assignment

In [43]:
str_2 = list(str_1) # 문자열 리스트 \\ 문자열 > 문자열리스트

In [44]:
str_2[0] = "H" #문자열 리스트는 고치기 가능
str_2

['H', 'e', 'l', 'l', 'o']

In [47]:
str_3 = str(str_2)
type(str_3)

str

In [50]:
#리스트의 생성

a = list()
a = []
b = [1,2,3,4,5]
c = ["aaa", "bbb", "ccc"]
d = [1,2,"aaa","bbb"]
e = [c, d]
e

[['aaa', 'bbb', 'ccc'], [1, 2, 'aaa', 'bbb']]

In [53]:
e[0], type(e[0])

(['aaa', 'bbb', 'ccc'], list)

In [54]:
e[1], e[-1]

([1, 2, 'aaa', 'bbb'], [1, 2, 'aaa', 'bbb'])

In [58]:
e[1][2], e[1][3]

('aaa', 'bbb')

In [62]:
e[-1][3], e[1][3]

('bbb', 'bbb')

In [63]:
score = [[1,2], [3,4]]
score

[[1, 2], [3, 4]]

# 복사
1. 얕은 복사 shallow copy 
2. 깊은 복사 deep copy

In [70]:
new_score = score[:] #score에 있는 모든 데이터를 새로 만들어서 줘 
new_score[0][0] = 100
new_score

[[100, 2], [3, 4]]

In [71]:
score # score에서 갖고와서 new_score을 만들고 바꿨는데 score도 바꼈네. 
#얕은 카피

[[100, 2], [3, 4]]

In [72]:
# 얕은 복사 SHALLOW COPY
import copy
copied = copy.copy(score)
copied[0][1] = 93
copied

[[100, 93], [3, 4]]

In [73]:
score

[[100, 93], [3, 4]]

In [74]:
# 깊은 복사 DEEP COPY
import copy
deepcopied = copy.deepcopy(score)
deepcopied[1][0] = 100
deepcopied, copied

([[100, 93], [100, 4]], [[100, 93], [3, 4]])

# 리스트의 연산   

- '+'__add__()
- '*'__mul__()
- del list[항목]
- in list -> True/False

In [99]:
lunch1=['해물라면','샐러드','떡볶이']
lunch2=['오므라이스','볶음밥','떡볶이','제육','주먹밥']
lunch1 + lunch2

['해물라면', '샐러드', '떡볶이', '오므라이스', '볶음밥', '떡볶이', '제육', '주먹밥']

In [100]:
lunch1 * 2

['해물라면', '샐러드', '떡볶이', '해물라면', '샐러드', '떡볶이']

In [101]:
del lunch1[2]

In [102]:
lunch1

['해물라면', '샐러드']

In [103]:
lunch1 + lunch2

['해물라면', '샐러드', '오므라이스', '볶음밥', '떡볶이', '제육', '주먹밥']

In [104]:
# lunch1과 lunch2를 합하고 '떡볶이' 1개를 제외하세요.
lunch1=['해물라면','샐러드','떡볶이']
lunch2=['오므라이스','볶음밥','떡볶이','제육','주먹밥']
total = lunch1 + lunch2
del total[5]
total

['해물라면', '샐러드', '떡볶이', '오므라이스', '볶음밥', '제육', '주먹밥']

In [105]:
'떡볶이' in total

True

In [124]:
#간식박스 관리 프로그램
snack_box = ['초콜릿','하리보','껌']
new_snack = input("먹고 싶은 간식을 추가하세요. 단, 쉼표(,)로 연결하세요").split(",")
snack_box += new_snack

먹고 싶은 간식을 추가하세요. 단, 쉼표(,)로 연결하세요 아이스티

In [125]:
snack_box

['초콜릿', '하리보', '껌', '아이스티']

In [126]:
#간식박스 관리 프로그램2
qty= int(input("간식박스 몇 세트로 포장할까요?"))

간식박스 몇 세트로 포장할까요? 2

In [127]:
snack_box *= qty
snack_box

['초콜릿', '하리보', '껌', '아이스티', '초콜릿', '하리보', '껌', '아이스티']

In [118]:

print(f"주문하신 간식상자는 {snack_box[0]},{snack_box[1]},{snack_box[2]},{snack_box[3]} 등입니다. 확인해주세요")

주문하신 간식상자는 초콜릿,하리보,껌,아이스티티 등입니다. 확인해주세요

In [132]:
#간식박스 관리 프로그램3
msg = f"혹시 빼고 싶은 간식이 있으면 번호를 입력하세요 (0~(len(snack_box)-1))"
snack_no = int(input(msg))

혹시 빼고 싶은 간식이 있으면 번호를 입력하세요 (0~(len(snack_box)-1)) 3

In [133]:
del snack_box[snack_no]
snack_box

['초콜릿', '하리보', '껌', '하리보', '껌', '아이스티']

In [150]:
#간식박스 관리 프로그램 4
# 찾고 싶은 간식이름을 입력하세요
#있어요 OR 없어요 출력
snack_box
find = input("찾고 싶은 간식 이름을 작성하세요")
find in snack_box

if find in snack_box:
    print("있어요")
else:
    print("없어요")

찾고 싶은 간식 이름을 작성하세요 하리보

있어요

In [151]:
snack_name = input("찾고 싶은 간식 이름을 작성하세요")
if snack_name in snack_box :
    print("있어요")
else:
    print("없어요")

찾고 싶은 간식 이름을 작성하세요 하리보

있어요

In [154]:
#간식박스 관리 프로그램 5
print("주문하신 간식박스는 위에서부터 다음과 같습니다.")
print(f"{snack_box[::-1]}, 총 {len(snack_box)}개 입니다") # 뒤에서부터 출력 snack_box[::-1]

주문하신 간식박스는 위에서부터 다음과 같습니다.
['아이스티', '껌', '하리보', '껌', '하리보', '초콜릿'], 총 6개 입니다

In [163]:
### 긴 문장 ''' ''' 을 사용해서 넣는다.
baby_shark = '''아기상어
뚜루루뚜루
귀여운
뚜루루뚜루
바닷속
뚜루루뚜루
아기상어!
엄마상어
뚜루루뚜루
어여쁜
뚜루루뚜루
바닷속
뚜루루뚜루
엄마상어!
아빠상어
뚜루루뚜루
힘이 센
뚜루루뚜루
바닷속
뚜루루뚜루
아빠상어!
할머니상어
뚜루루뚜루
자상한
뚜루루뚜루
바닷속
뚜루루뚜루
할머니상어!
할아버지상어
뚜루루뚜루
멋있는
뚜루루뚜루
바닷속
뚜루루뚜루
할아버지상어!
우리는
뚜루루뚜루
바다의
뚜루루뚜루
사냥꾼
뚜루루뚜루
상어가족!
상어다
뚜루루뚜루
도망쳐
뚜루루뚜루
도망쳐
뚜루루뚜루
숨자! 으악!
한번 더!
상어다
뚜루루뚜루
도망쳐
뚜루루뚜루
도망쳐
뚜루루뚜루
숨자! 으악!
아기상어
뚜루루뚜루
귀여운
뚜루루뚜루
바닷속
뚜루루뚜루
아기상어!
엄마상어
뚜루루뚜루
어여쁜
뚜루루뚜루
바닷속
뚜루루뚜루
엄마상어!
아빠상어
뚜루루뚜루
힘이 센
뚜루루뚜루
바닷속
뚜루루뚜루
아빠상어!
할머니상어
뚜루루뚜루
자상한
뚜루루뚜루
바닷속
뚜루루뚜루
할머니상어!
할아버지상어
뚜루루뚜루
멋있는
뚜루루뚜루
바닷속
뚜루루뚜루
할아버지상어!
우리는
뚜루루뚜루
바다의
뚜루루뚜루
사냥꾼
뚜루루뚜루
상어가족!
상어다
뚜루루뚜루
도망쳐
뚜루루뚜루
도망쳐
뚜루루뚜루
숨자! 으악!
살았다
뚜루루뚜루
살았다
뚜루루뚜루
오늘도
뚜루루뚜루
살았다!
신난다
뚜루루뚜루
신난다
뚜루루뚜루
춤을 춰
뚜루루뚜루
노래 끝'''
duludulu = baby_shark.count('뚜루루뚜루')
baby = baby_shark.count('상어')
duludulu, baby

(51, 25)

# 많이 사용하는 리스트의 method 함수

| 메서드                  | 사용 예시                    | 설명                |
| -------------------- | ------------------------ | ----------------- |
| `append(x)`          | `lst.append(4)`          | 맨 뒤에 `x` 추가       |
| `insert(i, x)`       | `lst.insert(1, "a")`     | `i` 위치에 `x` 삽입    |
| `extend(iter)`       | `lst.extend([4, 5])`     | 리스트에 여러 값 추가      |
| `remove(x)`          | `lst.remove("a")`        | `x`와 일치하는 첫 항목 삭제 |
| `pop()`              | `lst.pop()`              | 마지막 항목 제거하고 반환    |
| `pop(i)`             | `lst.pop(0)`             | `i`번째 항목 제거하고 반환  |
| `clear()`            | `lst.clear()`            | 리스트 전체 비우기        |
| `index(x)`           | `lst.index("a")`         | `x`의 위치(인덱스) 반환   |
| `count(x)`           | `lst.count("a")`         | `x`의 개수 세기        |
| `sort()`             | `lst.sort()`             | 오름차순 정렬 (원본 변경)   |
| `sort(reverse=True)` | `lst.sort(reverse=True)` | 내림차순 정렬           |
| `reverse()`          | `lst.reverse()`          | 항목 순서 뒤집기         |
| `copy()`             | `lst2 = lst.copy()`      | 리스트 복사            |

In [42]:
food = ["감자", "고구마", "김치", "치즈"]
food.append("우유")
food

['감자', '고구마', '김치', '치즈', '우유']

In [43]:
food.insert(0,"소주")
food

['소주', '감자', '고구마', '김치', '치즈', '우유']

In [44]:
food.extend(["빨강", "초록"])
food

['소주', '감자', '고구마', '김치', '치즈', '우유', '빨강', '초록']

In [45]:
food.remove("소주")
food

['감자', '고구마', '김치', '치즈', '우유', '빨강', '초록']

In [46]:
food.pop(), food

('초록', ['감자', '고구마', '김치', '치즈', '우유', '빨강'])

In [47]:
food.clear(), food

(None, [])

In [49]:
food = ["감자", "고구마", "김치", "치즈"]
food.index("고구마")

1

In [50]:
food = ["감자", "고구마", "감자", "치즈"]
food.count("감자")

2

In [54]:
num = [2,34,6,7,8,9,20]
num.sort()
food.sort()
num, food

([2, 6, 7, 8, 9, 20, 34], ['감자', '감자', '고구마', '치즈'])

In [ ]:
num.

# 연산자   
   
- 식별연산자
1.수치연산 : 사칙연산   
  add() --> 특별메서드를 정의하고 객체에서 쓸 수 있다.   
  숫자일 때는 기본연산   
  항변환이 자동으로 일어난다. int+float > float, int/int > float   
2.대입연산 : assign, 할당 '='   
  변수 = 값   
  자기 자신에게 대입하는 연산 > +=, -=, *=, /= > ()가 자동으로 적용
3.비교연산
  '=' 와 '=='
  '!=', '>=', '<='  # =은 항상 오른쪽에 있어야된다

  리스트의 비교 '==' -> 내용이 같은가? -> 리스트의 주소'id()'가 같은가? -> 메모리 영역이 같은가?
  리스트의 비교 'is' -> 주소(id)가 같은가?
  리스트의 주소 'id()' 
4.논리연산
  and, or, not
  &, &&, |, !



  
-식별연산자
1.is is not

In [52]:
lunch1 = ['주먹밥', '치킨', '칼국수']
lunch2 = ['주먹밥', '치킨', '칼국수']

lunch1 is lunch2,lunch1 == lunch2, id(lunch1) == id(lunch2) # 내용은 같지만 주소(id)값은 다르다

(False, True, False)

In [5]:
a = 5
b = 4

a *=2 + b # a = a*2 +b > a = 5 * (2 + 4) ?? 
a

30

In [27]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

In [17]:
students[0]['total'] = students[0]['kor'] + students[0]['eng'] + students[0]['math']

In [18]:
students[1]['total'] = students[1]['kor'] + students[1]['eng'] + students[1]['math']

In [19]:
students[2]['total'] = students[2]['kor'] + students[2]['eng'] + students[2]['math']

In [20]:
students

[{'num': '1',
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 255,
  'avg': 0.0,
  'order': 0},
 {'num': '2',
  'name': '박제동',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 265,
  'avg': 0.0,
  'order': 0},
 {'num': '3',
  'name': '홍길동',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 240,
  'avg': 0.0,
  'order': 0}]

In [37]:
for student in students : # 0,1,2
    student['total'] = student['kor'] + student['eng'] + student['math']
    student['avg'] = student['total'] / 3
    print(student['total'], student['avg'])
## 어떤 리스트인지 모르는데 student['total']한다고 어떻게 students[i]['total'] 을 가져올 수 있는거지?
## stuent => students[i]

255 85.0
265 88.33333333333333
240 80.0

In [38]:
for student in students : # 0,1,2
    student['avg'] = student['total'] / 3
    print(student['avg'])

85.0
88.33333333333333
80.0

In [35]:
students

[{'num': '1',
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 255,
  'avg': 85.0,
  'order': 0},
 {'num': '2',
  'name': '박제동',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 265,
  'avg': 88.33333333333333,
  'order': 0},
 {'num': '3',
  'name': '홍길동',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 240,
  'avg': 80.0,
  'order': 0}]

In [47]:
#students order  #total 값을 비교해서 order을 정함.
for student in students : #students[0]
    rank = 1
    for other in students:
        if other['total'] > student['total']:
            rank += 1
    student['order'] = rank
    print(student['name'],student['order'])

김철수 2
박제동 1
홍길동 3

In [48]:
for student in students:
    print(student['name'], student['order'], student['avg'])

김철수 2 85.0
박제동 1 88.33333333333333
홍길동 3 80.0

# 리스트에 많이 쓰는 내장함수들
- type()
- sorted()
- dir()
- id()
- len()
- sum(), max(), min()

In [54]:
# type(): 변수의 데이터 타입(자료형)을 알려줌

a = 123
b = "hello"
c = [1, 2, 3]

print(type(a))  # <class 'int'>
print(type(b))  # <class 'str'>
print(type(c))  # <class 'list'>

<class 'int'>
<class 'str'>
<class 'list'>

In [55]:
# sorted(): 정렬된 새 리스트를 반환. 원본은 그대로 유지됨

nums = [5, 1, 4, 3, 2]

print("오름차순:", sorted(nums))         # [1, 2, 3, 4, 5]
print("내림차순:", sorted(nums, reverse=True))  # [5, 4, 3, 2, 1]
print("원본:", nums)  # 원본 리스트는 변경되지 않음

오름차순: [1, 2, 3, 4, 5]
내림차순: [5, 4, 3, 2, 1]
원본: [5, 1, 4, 3, 2]

In [53]:
# dir(): 해당 객체가 가지고 있는 변수와 함수 목록을 출력

text = "hello"
print(dir(text))  # 문자열에 적용 가능한 메서드들

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [56]:
# id(): 객체의 메모리 주소(ID)를 확인함

x = [1, 2, 3]
y = x
z = [1, 2, 3]

print(id(x))  # x와 y는 같은 객체
print(id(y))  # 같은 ID
print(id(z))  # 다른 객체 (값은 같아도)

2293559646976
2293559646976
2293560026560

In [57]:
# len(): 문자열, 리스트 등 시퀀스 자료형의 길이를 반환

text = "Python"
numbers = [10, 20, 30, 40]

print(len(text))    # 6
print(len(numbers)) # 4

6
4

In [58]:
# sum(), max(), min(): 숫자 리스트의 총합, 최대값, 최소값 계산

scores = [87, 95, 70, 100, 65]

print("총합:", sum(scores))    # 417
print("최대값:", max(scores))  # 100
print("최소값:", min(scores))  # 65

총합: 417
최대값: 100
최소값: 65

In [ ]:
리스트 퀴즈
Q1. [1,3,5,4,2]라는 리스트를 [5,4,3,2,1]로 만들어보자

Q2. ['Life','is','too','short']라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자

Q3. 다음 리스트 L의 순서를 아래와 같이 변경하시오. (힌트: pop())

변경 전

[1, 3, 5, 7, 9]

변경 후

[3, 5, 7, 9, 1]

In [62]:
list_1 = [1,3,5,4,2]
list_2 = [5,4,3,2,1]
lts = "Life is too short"

list_3 = lts.split()
list_3

['Life', 'is', 'too', 'short']

In [73]:
L = [1, 3, 5, 7, 9]
L.pop(0)
L.append('1') # L.insert(0,'1'), L.extend('1')
L

[3, 5, 7, 9, '1']

# 딕셔너리   
   
' {키 : 값, 키 : 값} '

In [114]:
person = {"name" : "seungwon", "age" : 27, "city": "seoul"}
person, person["name"], person["age"]

({'name': 'seungwon', 'age': 27, 'city': 'seoul'}, 'seungwon', 27)

In [115]:
person2 = {"name"  : "jojoba", "age" : 27, "city":"seoul"}
person3 = dict(name = "jojoba", age=27, city ="seoul")
person2, person3

({'name': 'jojoba', 'age': 27, 'city': 'seoul'},
 {'name': 'jojoba', 'age': 27, 'city': 'seoul'})

In [83]:
person[0] = "bob"

In [88]:
person[0] = "jojo"
person[1] = "bobo"

In [89]:
person

{'name': 'seungwon', 'age': 27, 'city': 'seoul', 0: 'jojo', 1: 'bobo'}

In [90]:
type(person)

dict

In [92]:
dir(person)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [108]:
items= person.items
items

In [109]:
keys = person.keys()
type(keys), keys

(dict_keys, dict_keys(['name', 'age', 'city', 0, 1]))

In [110]:
for k in keys:
    print(k)

name
age
city
0
1

In [123]:
# update 는 딕셔너리에 딕셔너리를 추가한다.
person = {"name" : "seungwon", "age" : 27, "city": "seoul"}
person2 = {"name"  : "jojoba", "age" : 27, "city":"seoul"}
person3 = dict(name = "jojoba", age=27, city ="seoul")
person4 = {"color": "red", "sex": "male"}

person.update(person2)
person3.update(person4)

In [124]:
person

{'name': 'jojoba', 'age': 27, 'city': 'seoul'}

In [125]:
person3

{'name': 'jojoba', 'age': 27, 'city': 'seoul', 'color': 'red', 'sex': 'male'}

In [169]:
### store_name = '바리스타 엘리\'s 카페'
menu_list = ['에스프레소', '아이스아메리카노', '따뜻한라떼']
price_list = [3000, 4000, 5000]

#환영인사
print('*'*60)
print(f"어서오세요{store_name}에 오신것을 환영합니다")

#메뉴목록 출력
for i in range(len(menu_list)):
    print(f"{i+1}번째 {menu_list[i]:10}{price_list[i]:10}")

order_num = int(input("주문할 메뉴 번호를 입력하세요"))
qty = int(input('주문할 수량을 숫자로 입력하세요 : '))
amt = qty * price_list[order_num -1]

#주문결과 출력
print(f'주문하신 메뉴는 {menu_list[order_num -1]} 입니다.  결제하실 금액은 {amt} 입니다')

************************************************************
어서오세요바리스타 엘리's 카페에 오신것을 환영합니다
1번째 에스프레소           3000
2번째 아이스아메리카노        4000
3번째 따뜻한라떼           5000

주문할 메뉴 번호를 입력하세요 3
주문할 수량을 숫자로 입력하세요 :  2

주문하신 메뉴는 따뜻한라떼 입니다.  결제하실 금액은 10000 입니다

# 튜플   ()
리스트와 비슷하지만 **변경**이 안된다.

In [2]:
a =tuple()
a, type(a)

((), tuple)

In [17]:
b =(2,) #type = tuple
b2 =(2) #type = int
b,b2, type(b),type(b2) # type = int

((2,), 2, tuple, int)

In [4]:
bb = (1, 2)
bb, type(bb)

((1, 2), tuple)

In [10]:
c = (1, 2, (3,4), "5")
c[0] =3 # tuple = immutable . type ERROR
c

TypeError: 'tuple' object does not support item assignment

In [11]:
fruit = '사과', '복숭아', '딸기' # tuple 의 ( ) 괄호는 생략 가능. 요소는 하나 이상이어야 한다.
fruit, type(fruit)

(('사과', '복숭아', '딸기'), tuple)

In [15]:
tire = '한국',
tire2 = 'nexen'
tire, type(tire), type(tire2)

(('한국',), tuple, str)

In [22]:
# s = 'hello!'
s ='hi'
a,b = s
a,b

('h', 'i')

In [24]:
s = 'hello'
a,b = s
a,b

ValueError: too many values to unpack (expected 2)

In [6]:
s = 'hello' # packing
a,*b = s # unpacking  * -> rest
a,b

('h', ['e', 'l', 'l', 'o'])

In [26]:
student = ('홍길동', 20, '1학년') #패킹
student

('홍길동', 20, '1학년')

In [8]:
hey = "HI"
x, y = hey
x,y

('H', 'I')

In [28]:
name, age, grade = student
f'이름은{name}이고, 나이는 {age}, {grade} 입니다.'

'이름은홍길동이고, 나이는 20, 1학년 입니다.'

In [31]:
student_2 = ('가나다', 21, '2학년')
name, age , grade = student_2
f'이름은 {name}이고, 나이는 {age}, {grade} 입니다.'

'이름은가나다이고, 나이는 21, 2학년 입니다.'

In [32]:
#미션 
x = 1
y = 2

x,y = y,x
x, y  #tuple의 패킹, 언패킹
 
# 
x=2, y=1

(2, 1)

In [44]:
#함수의 정의
def func_a(a) :
    
    return a

#함수의 호출
result = func_a(5)
#함수의 반환값
result

5

In [46]:
#함수의 정의
def func_a(a,b,c) :
    print(a,b,c)
    return c,b,a

#함수의 호출
result = func_a(1,2,3)
#함수의 반환값
result, type(result) #반환값을 튜플, 바꾸지 못하게 한다.

1 2 3

((3, 2, 1), tuple)

In [48]:
a1,b1,c1 = func_a(1,2,3)
a1, b1, c1

1 2 3

(3, 2, 1)

In [ ]:
#형변환 (튜플 > 리스트 > 튜플)

In [49]:
# tupled 에 값을 추가하려면?
# 형변환 > 리스트

In [57]:
name_tuple = ('가연', '지훈', '지희')
name_tuple

('가연', '지훈', '지희')

In [58]:
name_list = list(name_tuple)
name_list.append('유석')
name_list
name_tuple = tuple(name_list)
name_tuple

('가연', '지훈', '지희', '유석')

In [61]:
dir(name_tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [72]:
name_tuple = ('가연', '지훈', '지희')
name_tuple
# __add__
# __mul__
name_add= ('유석',)
type(name_add)
name_tuple = name_tuple.__add__(name_add)
name_tuple

('가연', '지훈', '지희', '유석')

In [73]:
t1 = (1,2,3)
t3 = t1 *2
t3

(1, 2, 3, 1, 2, 3)

In [74]:
t3[0], t3[:3]

(1, (1, 2, 3))

In [75]:
t3[0] = 2 #type ERROR

TypeError: 'tuple' object does not support item assignment

# 집합   

- set(), { }
- 중복이 안된다, 순서도 없다. 키도 없다.
- 속도가 빠르다. 해싱을 하는 자료형(딕셔너리, 집합)

In [77]:
s = set([1,2,3]) # set([])
s

{1, 2, 3}

In [79]:
s1 = {1, 2, 3}
s1, type(s1)

({1, 2, 3}, set)

In [85]:
# set은 중복을 제거한다.
s2 = {1,2,3,1}
s2

{1, 2, 3}

In [93]:
l2 = [1,2,3,1]
l2 = l2* 2
s3 = set(l2)
s3

{1, 2, 3}

In [101]:
l2 = [1,2,3,1]
l2 = l2* 2
l2.append([4,5,6]) 
l2

# l2 = [1,2,3,1]
# l3 = l2 + [4, 5, 6]
# print(l3)

[1, 2, 3, 1, 1, 2, 3, 1, [4, 5, 6]]

In [102]:
hash('hi')

-5116378217491896938

In [103]:
hash(123) #해싱가능하다. int, float, boolean

123

In [121]:
set(['hi', 123])

{123, 'hi'}

In [104]:
tuple_2 = (1,2,3,4)
hash(tuple_2)

590899387183067792

In [105]:
hash((1,2,3))

529344067295497451

In [108]:
l1 =[1,2,3,4]
hash(l1) #리스트 해싱 불가능

TypeError: unhashable type: 'list'

In [109]:
hash({1,2,3}) # #

TypeError: unhashable type: 'set'

# set 집합 연산   

- 교집합 &, intersection()
- 합집합 |, union()
- 차집합 -, difference()

In [111]:
s = set([1,2,3,4])
x = {1,2,3}
y = {3,4,5}

In [112]:
x & y

{3}

In [113]:
x.intersection(y)

{3}

In [114]:
x | y

{1, 2, 3, 4, 5}

In [115]:
x.union(y)

{1, 2, 3, 4, 5}

In [116]:
x - y

{1, 2}

In [117]:
x.difference(y)

{1, 2}

In [118]:
dir(x)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [124]:
#문제 1.리스트 numbers가 다음과 같을 때, 첫 번째 원소와 마지막 원소의 합을 구하는 코드를 작성하세요.
numbers = [10, 20,  30,  40,  50,  60, 70, 80, 90, 100]
numbers[0] + numbers[9]

#number[0], numbers[-1]

110

In [138]:
#문제 2.리스트 colors가 다음과 같을 때, 첫 3개 원소와 마지막 2개 원소를 슬라이싱을 사용하여 출력하는 코드를 작성하세요.
colors = ["red", "green", "blue", "yellow", "purple", "orange", "black"]
colors[0:3] + colors[-2:]

#colors[0:3], colors[-2:]

['red', 'green', 'blue', 'orange', 'black']

In [204]:
#문제 3.다음 리스트에서 "korean"이라는 문자열을 찾아 출력하는 코드를 작성하세요. - indexing
list_a = [
    [1, 2, 3],
    ["red", "green", "blue"],
    [False, "korean", True]
]
list_a[2][1]

#list_a[2][1]

# for sub in list_a:
#     for item in sub:
#         if item == "korean":
#             print(item)

korean

In [205]:
#문제 4.리스트 list_a과 list_b가 다음과 같을 때, 두 리스트를 합쳐서 새로운 리스트 list_c를 만드는 코드를 작성하세요.
list_a = [1, 2, 3]
list_b = [4, 5, 6]
list_c = list_a + list_b
list_c

#list_c = list_a + list_b
#list_c

[1, 2, 3, 4, 5, 6]

In [206]:
#문제 5.아래의 튜플 tuple_a에서 "banana"를 "blueberry"로 변경하는 코드를 작성하세요.
tuple_a = ("apple", "banana", "cherry")

ist_a = list(tuple_a)
list_a[1] = 'blueberry'
tuple_a = tuple(list_a)
tuple_a, type(tuple_a)

#튜플은 변경 불가능 ... 튜플 -> 리스트 -> 튜플

((1, 'blueberry', 3), tuple)

In [207]:
#문제 6.변수 a, b, c의 값을 사용하여 튜플 tuple_a를 생성하고 출력하는 코드를 작성하세요.
a = 5
b = 10
c = 15

tuple_abc = a,b,c
tuple_abc, type(tuple_abc)

#tuple_a = (a,b,c)
#tuple_a

((5, 10, 15), tuple)

In [211]:
#문제 7.튜플 numbers가 주어졌을 때, 튜플의 최대값과 최소값을 출력하는 코드를 작성하세요.
numbers = (92, 89, 72, 31, 71, 33, 19)

# dir(numbers)
min(numbers), max(numbers)
# dir(numbers)에 min,max 없지만 사용가능

(19, 92)

In [212]:
#문제 8.dict 타입의 student(변수명)를 생성하고, 아래의 키-값 쌍을 추가하는 코드를 작성하세요.
name: "Alice"
age: 24
major: "Computer Science"

student = dict(name="Alice", age=24, major="Computer Science")



student, type(student)

#student = { }
#student["name"] = "Alice"
#student["age"] = 24
#student["major"] = "Computer Science"
#student

({'name': 'Alice', 'age': 24, 'major': 'Computer Science'}, dict)

In [214]:
#문제 9.위에서 생성한 student에서, 모든 키와 값을 출력하는 코드를 작성하세요
student.keys(), student.values()

#student.keys(), student.values() # . 하고 tab누르면 메서드 다 보임 

# for k,v in student.items():
#     print(f'{k}:{v}')

name:Alice
age:24
major:Computer Science

In [168]:
#문제 10.위에서 생성한 student에서, age(나이)를 26으로 변경하세요.
student['age'] = 26
student

{'name': 'Alice', 'age': 26, 'major': 'Computer Science'}

In [222]:
#문제 11. 다음 딕셔너리 students에서 name의 값을 리스트(name_list)로, age의 값을 튜플(age_tuple) 만드는 코드를 작성하세요
students = {
    "student1": {"name": "Alice", "age": 24},
    "student2": {"name": "Bob", "age": 22},
    "student3": {"name": "Charlie", "age": 23}
}

name_list = []
age_list = []


for key in students.keys():
    stu = students[key]
    name_list.append(stu['name'])
    age_list.append(stu['age'])

age_tuple = tuple(age_list)
name_list, age_tuple

(['Alice', 'Bob', 'Charlie'], (24, 22, 23))