## 들어가기 : 주석

# 표준 입력과 표준 출력

## 입력

In [4]:
12345
10
# ipython 라이브러리의 기본 기능
# print(12345) 표준출력 니응을 내장하고 있다.

10

In [3]:
print(12345)
10

12345

10

In [15]:
type('12345') #문자열 ' '

str

In [14]:
type("12345") #문자열 " "

str

In [13]:
"12345" * 3 #문자열에  *(곱하기) 는 된다. [문자열을 3번 출력해라]

'123451234512345'

In [7]:
type(12345)

int

In [16]:
# '12345'+10 => TYPE ERROR

## 출력

In [22]:
name = input("당신의 이름을 입력하세요")
name

당신의 이름을 입력하세요 장승원

'장승원'

In [31]:
age = input("당신의 나이를 입력하세요")
age

당신의 나이를 입력하세요 24

'24'

In [23]:
name

'장승원'

In [32]:
age, name

('24', '장승원')

In [33]:
print("나는 ",name,"이고 나이는 ",age,"입니다")
print("나는 "+name+"이고 나이는 "+age+"입니다")

나는  장승원 이고 나이는  24 입니다
나는 장승원이고 나이는 24입니다

In [34]:
# age + 10 #type ERROR

input으로 받는 값은 무조건 문자열이다

In [35]:
int(age)

24

In [38]:
int(age) + 10 # age + 10 은 여전히 안된다. int(age)를 했다 해도 위에서는 age의 값을 int값으로 출력만 해준 것이기 때문

34

In [48]:
#자기 이름으로 삼행시 짓기

print("장 : 장승원 ")
print("승 : 승원장 ")
print("원 : 원승장 ")

장 : 장승원
승 : 승원장
원 : 원승장

In [49]:
first = input("장 :")
second = input("승 :")
third = input("원 :")

print(first,second,third, sep="!") #각 쉽표 매개변수와 매개변수 사이를 separator로 변환한다.

장 : 장승원
승 : 승원장
원 : 원승장

장승원!승원장!원승장

In [52]:
print(first, second, third, sep="\n") # \n : 줄바꿈 기호, <br>느낌 # /아니라 역슬레시 \

장승원
승원장
원승장

# 변수

변수 type safe : 변수를 선언할 때 타입(유형)을 지정하지 않아도 되는 특성<br>
변수명 = 값<br>
## 변수의 명명규칙 
1.문자, 숫자, 밑줄을 가지고 만든다<br>
2. 숫자로 시작하면 X<br>
3. 대소문자를 구분한다<br>
4. 예약어, 특수문자, 공백 X

In [60]:
x = 10
y = "hello"
z = 3.141592

x,y,z

type(x),type(y),type(z)

(int, str, float)

In [61]:
print(type(x),type(y),type(z))

<class 'int'> <class 'str'> <class 'float'>

In [65]:
a, b, c = 10, 20, 30
a, b, c

(10, 20, 30)

In [64]:
a = 10
b = 20
c = 30
a, b, c

(10, 20, 30)

In [67]:
a = b = c = 40
a, b, c

(40, 40, 40)

In [77]:
d = True #bool형
e = None #type이 없음 : NoneType
d, e

(True, None)

In [9]:
aa = 10
bb= aa
print(aa, bb)
id(aa), id(bb)

10 10

(140706064181976, 140706064181976)

In [11]:
aa = 30
print(aa, bb)
id(aa), id(bb)

30 10

(140706064182616, 140706064181976)

In [13]:
#의미를 부여 하기 어려운 변수명 
x = 100
y = 100

#의미있는 변수명
age = 20
name = "Jangseungwon"
user_name = "JSW"
admin_Name = "JSWW"

#대문자 Upper-case 상수에 사용
PI = 3.141592
MAX_VALUE = 10 #최대값
MIN_VALUE = 0 #최솟값

## NAME_SPACE
변수가 최로로 정의된 영역에 따라 유효범위가 결정됩니다.    
- 지역변수 : 함수 영역 내에서 선언한 변수
- 전역변수 : 함수 영역 밖에서 선언한 변수, global 키워드 사용
- 정적변수 : 클래스에서 사용하는 변수

In [26]:
# 지역 변수
def local_example():
    local_var = 100
    print("여기는 함수의 영역입니다", local_var)
 
# local_var #NameError: name 'local_var' is not defined
local_example()

여기는 함수의 영역입니다 100

In [28]:
# 전역 변수
global_var = "나는 전역이다"
print(global_var)

def global_example():
    local_var = 100
    print("여기는 함수의 영역입니다", local_var, global_var)
global_example()

나는 전역이다
여기는 함수의 영역입니다 100 나는 전역이다

## global

In [34]:
var_test = "나는 전역이다"
print(var_test)

def global_example():
    # global var_test = 100 <= 틀린 표현 #선언과 할당을 같이 할 수 없다 
    global var_test
    print("여기는 함수의 영역입니다", var_test)

global_example()
print(var_test)
# global 함수 앞에 붙이면 함수 밖에서 불러와라 의미

나는 전역이다
여기는 함수의 영역입니다 나는 전역이다
나는 전역이다

In [48]:
# 변수 영역 연습
counter = 0  #global

def increment_counter():
    #counter = counter + 1
    global counter #갖고 오기
    counter += 1
    print("카운터 :", counter)

increment_counter()
increment_counter()

카운터 : 1
카운터 : 2

# 교재 변수연습

In [51]:
a = [1, 2, 3]
b = a

id(a), id(b)

(3077941402240, 3077941402240)

In [56]:
a = [1 ,3, 5]
b = a[:]
a[2] = 4
a, b

([1, 3, 4], [1, 3, 5])

# 초보자를 위한 파이썬 300제

In [68]:
#1
print("Hello World")

Hello World

In [69]:
#2
print("Mary's cosmetic")

Mary's cosmetic

In [70]:
#3
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [96]:
#4
print("C:\Windows")

C:\Windows

<>:2: SyntaxWarning: invalid escape sequence '\W'
<>:2: SyntaxWarning: invalid escape sequence '\W'
C:\Users\Admin\AppData\Local\Temp\ipykernel_13164\1801644531.py:2: SyntaxWarning: invalid escape sequence '\W'
  print("C:\Windows")

In [72]:
#5
print("안녕하세요.\n만나서\t\t반갑습니다.")
#\n은 줄바꿈, \t는 tab

안녕하세요.
만나서		반갑습니다.

In [73]:
#6
print("오늘은","일요일")

오늘은 일요일

In [78]:
#7
print("naver","kakao","sk","samsung", sep=";")

naver;kakao;sk;samsung

In [79]:
#8
print("naver","kakao","sk","samsung",sep="/")

naver/kakao/sk/samsung

In [82]:
#9
print("first",end=" ");print("second")

first second

In [86]:
#10
print(5/3)

1.6666666666666667

In [91]:
#11
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [92]:
#11
시가총액 = 2980
현재가 = 50000
PER = 15.79

print(시가총액),print(현재가),print(PER)

2980
50000
15.79

(None, None, None)

# 자료형
-기본자료형: 숫자형, 문자열형 str, 부울형   
-복합자료형: 리스트, 셋, 튜플, 딕셔너리

| type | 설명 | 예 |
|-----|-----|-----|
|정수형(int) | 정수를 저장하는 자료형 | 1, -5, 100|
|실수형 (float)|소수점이 있는 숫자를 저장하는 자료형|3.14, -0.001, 2.0|
|문자열 (str) |텍스트를 저장하는 자료형 |"Hello", '파이썬'|
|논리형 (bool)|참/거짓 값을 저장하는 자료형|True, False|

-수정 불가능한 데이터 타입 : 수치형, 부울형, 문자열, 튜플   
-수정 가능한 데이터 타입 :  리스트, 딕셔너리, 셋

In [100]:
#수치형
20, type(20)

(20, int)

In [101]:
age = 20
type(age)

int

### 진법   
1. 진법 : 10진수, 2진수, 8진수, 16진수   
2. 입력하는 방법은 다르지만, print() 결과는 동일하다.

In [109]:
a = 10
b = 0b0101 #2진수 0,1로 표현하는 방법 => 0b 0101 -> 1+0+4+0 = 5  # 0b b는 2진수
a, b

(10, 5)

In [112]:
c = 0o10 # o는 8진수 옥타곤
d = 0x1B
c, d

(8, 27)

|진수|접두사 |예시|
|-----|-----|-----|
|2진수|0b 또는 0B|0b1010 → 10|
|8진수|0o 또는 0O|0o12 → 10|
|16진수|0x 또는 0X|0xA → 10|

16진수는 1 ~ 9는 숫자, 10 ~ 15는 A, B, C, D, E, F

In [113]:
#float
b= 3.14
type(b)

float

### 지수의 표기    
숫자e2 -> 10^2의 곱 = 10** *2   
숫자e-2 -> 10^-2의 곱 = 10**  -2

In [114]:
fa = 10e2
fa

1000.0

In [115]:
fb = 10e-2
fb

0.1

In [116]:
fc = 3.141592e2
fc

314.1592

### BOOLEAN - True, False   
논리연산, 비교연산

In [144]:
ba  = True
bb = true #true는 변수 [ERROR 이름이 true가 정의되지 않았다]

type(ba), type(bb)

In [124]:
ba == 1  #True == 1 , False == 0

True

In [125]:
# 논리 연산자 and or not
bc = 1
ba and bc

1

In [126]:
#사칙연선 + - * / // %
a = 2 
b = 3

In [131]:
a+b   
a-b   
a*b
a/b, a//b, a%b # /나누기, //몫, %나머지

(0.6666666666666666, 0, 2)

In [137]:
#비교연산자
1+2 == 3 #True
1+2 != 3 #False
1+3 > 3 #True
1+3 < 3 #False
1+3 <= 4 #True

True

In [138]:
#비교연산자와 논리연산자의 결합

10%2 == 0 and 12%3 == 0

True

In [140]:
a = '1234'
b = '5678'
a,b,id(a),id(b)

('1234', '5678', 3077900966272, 3077949443600)

In [141]:
id(a) == id(b)

False

In [145]:
#대입연산자
a = 10
b = a + 2
a,b

(10, 12)

In [147]:
a = 20
a +=1  # a = a + 1
a

21

In [149]:
a = 20 
a -=1 # a = a - 1
a

19

In [154]:
a = 3
b =2 
a+=2 + b 
a

7

# 문자열 str   
' ', " ", """ """, ''' ''' docstring   
인코드 > 코드 > 숫자값 정해져 있다. "코드표"

유니코드 문자 표준
영어는 ascii -> 유니코드
한국어도 유니코드

유니코드가 글자의 크기에 따라 utf-8, [utf-16, utf-32] 디코딩

파이썬의 문자열 str -> unicode 기반이다.

euk-kr <예전에 사용하던 한글 코드>, cp949<예전 ms에서 사용하던 한글코드>

인코딩 사람문자 -> 컴퓨터, 디코딩 컴퓨터 -> 사람

In [2]:
text = "파이썬"

print(ord('파')) #유니코드

54028

In [3]:
#인코딩
enc_text = text.encode("utf-8")
print(enc_text)

b'\xed\x8c\x8c\xec\x9d\xb4\xec\x8d\xac'

In [21]:
#디코딩
dec_text = enc_text.decode("utf-8")
print(dec_text)

파이썬

In [157]:
# +는 문자열끼리
a = "hello "
b = "python"
a + b

'hello python'

In [161]:
# *문자열*숫자
c = "*"
c*10

'**********'

In [163]:
d ="Kim's Family"
e ='"jang" said'
d, e

("Kim's Family", '"jang" said')

In [164]:
#문자열에서 비교연산
e = "1"
e =="1"

True

In [185]:
#문자열은 리스트, 열거형
a ="20250528ABCDE" #13개의 글자의 목록
a[1] #숫자 자리수 > 인덱스

'0'

In [186]:
a[3]

'5'

In [187]:
a[0:4] #4개 가져와!~! #슬라이싱 slice

'2025'

In [188]:
a[4:8]

'0528'

In [189]:
a[:4]

'2025'

In [191]:
a[-4:]

'BCDE'

In [192]:
a[-1:]

'E'

In [196]:
s = "abc"
a =s
a is s

True

In [204]:
b = s[:] #전체 가져와
a is b

True

`'''' docstring    
start \n   
end \n   
'''    
'    
     
""" """

In [50]:
doc_string = """docstring
start
end
"""
doc_string
# print(doc_string)  #docstring도 문자열이다 ...!?!?!?

'docstring\nstart\nend\n'

In [32]:
type(text)

str

#str 의 함수
dir()

In [6]:
text.__add__("안녕")

'파이썬안녕'

In [8]:
text.count("파")

1

In [33]:
# dir(text)

In [20]:
print("나는 \"escape문자\"라고 말했어") # \사용하면 뒤에 문자라고 알려주는 것

나는 "escape문자"라고 말했어

# R STRING

r "12\4"

In [ ]:
r"12\4"

In [42]:
raw_str_1 =r"hellow\nworld"
print(raw_str_1)

hellow\nworld

# F STRING

f"{수식}문자열이에요{변수}"

In [44]:
name ="seungwon"
age = 25

print("제 이름은", name, "내 나이는", age, "입니다")

제 이름은 seungwon 내 나이는 25 입니다

In [45]:
f_str_1 = f"제 이름은 {name} 내 나이는 {age} 입니다."
f_str_1

'제 이름은 seungwon 내 나이는 25 입니다.'

Type
b

Type

In [37]:
b = 2
c = '3'
b + c #typeError

In [39]:
int(c)
b+ int(c)

5

In [41]:
c = "3a"
# b + int(c) #ValueERROR
b + int(c[:1])

5

# 이름과 자기소개를 입력받아서 출력하는 프로그램 작성

In [47]:
name = input("이름을 입력하세요")
age = input("나이를 입력하세요")

intro = f"제 이름은 {name}이고 나이는 {age}입니다."
print(intro)

이름을 입력하세요 장승원
나이를 입력하세요 27살

제 이름은 장승원이고 나이는 27살입니다.

# 문자열.format string

In [56]:
#dir(f_str_1)
format_str = " {0:4f} {1:s} are worth US$ {2:d}" #template
format_str.format(99.99,"dollors", 100)

' 99.990000 dollors are worth US$ 100'

In [61]:
menu = input("주문할 메뉴를 입력하세요")
price = input("한 개 가격이 얼마인가요")
count = input("몇 개나 주문하세요")

total = int(price)*int(count)
msg = "{}메뉴의 {}개 가격은 총 {}원 입니다"
print(msg.format(menu, count,total))

주문할 메뉴를 입력하세요 치즈버거
한 개 가격이 얼마인가요 2000
몇 개나 주문하세요 2

치즈버거메뉴의 2개 가격은 총 4000원 입니다

In [75]:
menu = input("주문할 메뉴를 입력하세요")
price = int(input("한 개 가격이 얼마인가요"))
count = int(input("몇 개나 주문하세요"))

total = price*count
msg = "{}메뉴의 {}개 가격은 총 {}원 입니다"
print(msg.format(menu, count,total))

주문할 메뉴를 입력하세요 치즈버거
한 개 가격이 얼마인가요 3000
몇 개나 주문하세요 3

치즈버거메뉴의 3개 가격은 총 9000원 입니다

# 리스트

In [74]:
item = [
    {"name": "아메리카노", "price": 3000, "qty": 2},
    {"name": "카페라떼", "price": 4000, "qty": 1},
    {"name": "샌드위치", "price": 5500, "qty": 3}
] 
# {} : 딕셔너리  # [] : 리스트

In [115]:
item = [
    {"name": "아메리카노", "price": 3000, "qty": 2},
    {"name": "카페라떼", "price": 4000, "qty": 1},
    {"name": "샌드위치", "price": 5500, "qty": 3}
] 
header_str = "{0:18}{1:10}{2:10}{3:10}" #{인덱스:데이터길이}
print(header_str.format("상품명","가격", "수량", "총액"))
print("-"*50)

data_str = "{0:10}{1:10,}원{2:10}개{3:10,}원" 

for item in item:
    item_name = item["name"]
    item_price = item["price"]
    item_qty = item["qty"]
    total_price = item_price * item_qty
    print(data_str.format(item_name,item_price,item_qty,total_price))

    ##데이터와 헤더를 나눠서 데이터를 따로 조작할 수 있게 나눴다.

상품명               가격        수량        총액
--------------------------------------------------
아메리카노          3,000원         2개     6,000원
카페라떼           4,000원         1개     4,000원
샌드위치           5,500원         3개    16,500원

| 함수                  | 설명                  | 예시                                        |
| ------------------- | ------------------- | ----------------------------------------- |
| `lower()`           | 모두 소문자로 변환          | `"Python".lower()` → `"python"`           |
| `upper()`           | 모두 대문자로 변환          | `"python".upper()` → `"PYTHON"`           |
| `capitalize()`      | 첫 글자만 대문자           | `"hello".capitalize()` → `"Hello"`        |
| `title()`           | 각 단어의 첫 글자 대문자      | `"hello world".title()` → `"Hello World"` |
| `strip()`           | 앞뒤 공백 제거            | `" hello ".strip()` → `"hello"`           |
| `lstrip()`          | 왼쪽 공백 제거            | `" hello".lstrip()`                       |
| `rstrip()`          | 오른쪽 공백 제거           | `"hello ".rstrip()`                       |
| `replace(old, new)` | 문자열 바꾸기             | `"hello".replace("l", "x")` → `"hexxo"`   |
| `split()`           | 문자열 나누기 (기본: 공백)    | `"a b c".split()` → `['a', 'b', 'c']`     |
| `join(list)`        | 리스트를 문자열로 결합        | `" ".join(['a', 'b'])` → `"a b"`          |
| `find(sub)`         | 처음 등장하는 위치 (없으면 -1) | `"apple".find("p")` → `1`                 |
| `index(sub)`        | 처음 등장하는 위치 (없으면 오류) | `"apple".index("p")` → `1`                |
| `count(sub)`        | 부분 문자열 개수           | `"banana".count("a")` → `3`               |
| `startswith(sub)`   | 해당 문자열로 시작?         | `"python".startswith("py")` → `True`      |
| `endswith(sub)`     | 해당 문자열로 끝남?         | `"python".endswith("on")` → `True`        |
| `isalnum()`         | 영문자+숫자인가?           | `"abc123".isalnum()` → `True`             |
| `isalpha()`         | 영문자만인가?             | `"abc".isalpha()` → `True`                |
| `isdigit()`         | 숫자만인가?              | `"123".isdigit()` → `True`                |
| `isspace()`         | 공백문자만 있는가?          | `" \t\n".isspace()` → `True`              |

In [127]:
text = "jang seung won"
text.lower(), text.upper(), text.capitalize(), text.title()

('jang seung won', 'JANG SEUNG WON', 'Jang seung won', 'Jang Seung Won')

In [118]:
text2 = " jang "
text2.strip(), text2.lstrip(), text2.rstrip() # strip는 양쪽 공백을, l은 왼, r은 좌 공백을 없어진다.

('jang', 'jang ', ' jang')

In [129]:
text.replace("n", "X"), text.split(), text.split("n") # n을 기준으로 나눈다 기준이 된 글자는 없어진다.

('jaXg seuXg woX', ['jang', 'seung', 'won'], ['ja', 'g seu', 'g wo', ''])